@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    /* width: 100%; */
    background-color: #F5F5F5;
    
}

body::-webkit-scrollbar{
  width: 4px;
}

body::-webkit-scrollbar-thumb{
  width: 100%;
  background-color: #c3c4c7;
  border-radius: 10px;
}
:root {
    --white: #ffffff;
    --backgrounds: #F5F5F5;
    --primary: #212121;
    --secondary: #707FDA;
    --dark-yellow: #F5A200;
    --green: #4CAF50;
    --footer: #3F414E;
    --extra: #F5F5F5;
    --third-color: #757575;
    --extra-two: #E9F3EB;
    --extra-three: #E9EBF3;
    --extra-four: #F4F5F9;
    --extra-five: #6A9586;
}

.filt {
    position: fixed;
    top: 60px;
width: 1290px;
background-color: yellow;
height: 50px;
z-index: 99;
}

button{
    border: none;
    background-color: transparent;
}

.container-webs{
    max-width: 1440px;
    overflow: hidden;
    position: relative;
}

#notifcation{
  border: none;
}

.status {
    padding: 10px;
    background: #F5F5F5;
    border-radius: 6px;
  }
  .status-pending p{
    color: #F5A200!important;
  }
  .status-awaiting-payment p{
    color: #707FDA!important;
  }
  .status-in-progress p{
    color: #4CAF50!important;
  }
  .status-rejected p{
    color: #F57070!important;
  }
  .status-completed p{
    color: #34BAB2!important;
  }
  .status-saved p{
    color: #99A29C!important;
  }
  .status-disabled p{
    color: #99A29C!important;
  }
  /****status color***/
  .status p{
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #4CAF50;
      background-repeat: no-repeat;
      padding-left: 21px;
      background-size: 16px;
  }

  .status-completed{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .status-completed span{
    color: #34BAB2!important;
  }

  .status-completed div{
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/components/light-green.svg);
  }


  .status-pending{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 22px;
  }

  .status-pending div{
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/components/orange-circle-two.svg);
  }

  .status-pending span{
    color: #F5A200!important;
  }

  .status-awaiting-payment{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .status-awaiting-payment div{
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/icons/status/complete.svg);
  }

  .status-awaiting-payment span{
    color: #707FDA!important;
  }

  .status-in-progress{
    display: flex;
    align-items: center;
    gap: 10px;
  }

.status-in-progress div{
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/components/green-circle.svg);
}

.status-in-progress span{
    color: #4CAF50!important;
}

.status-rejected{
    display: flex;
    align-items: center;
    gap: 10px;
}

.status-rejected div{
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/icons/status/rejected.svg);
}

  .status-rejected span{
    color: #F57070!important;
  }

  .status-saved{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .status-saved div{
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/icons/status/disabled.svg);
  }

  .status-saved span{
    color: #99A29C!important;
  }

  .status-disabled{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .status-disabled div{
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/icons/status/disabled.svg);
  }

  .status-disabled span{
    color: #99A29C!important;
  }

  input:focus{
    outline: 2px solid #707FDA;
  }

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  @media(min-width: 2050px){
    
}


@media(min-height:1300px)  {
    
  footer{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
   }
   .container-webs{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.contain{
    overflow: hidden;
}

footer{
    width: 1440px;
    height: 114px;
    background-color: #3F414E;
    z-index: 999;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    
}
 }



 @media screen and ( min-width: 2000px )
{
   footer{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
   }
   .container-webs{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.contain{
    overflow: hidden;
}

footer{
    width: 1440px;
    height: 114px;
    background-color: #3F414E;
    z-index: 999;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    
}
}


.splide{
  visibility: visible !important;
}