<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../css/base.css">
        <link rel="stylesheet" href="../../../css/main.css">
    <title>Document</title>
</head>

<body>

    <header>
        <section class="contain header-top">
            <div class="header">
                <div class="header-left">
                  <img src="../../../images/header/techfluencer.svg" alt="tech">
                </div>
                <div class="header-right">
                    <button class="img-header" id="notification">
                        <img src="../../../images/q.svg" alt="vector">
                        <img class="ellipse" src="../../../images/notifcation-dotted.svg" alt="Ellipse">
                    </button>
                    <button class="header-img"><img src="../../../images/header/logo-header.svg" alt=""></button>
                </div>
            </div>
        </section>
    </header>

    <nav class="navigation">
        <a href="../influencer-dashboard.html">
            <div class="menu-bar menu-dashboard">
                <img class="img" src="../../../images/navbar/Dashboard.svg" alt="dashboard">
            </div>
        </a>
       <a href="#">
        <div class="menu-bar menu-request active">
           <img class="img" src="../../../images/navbar/Request-Menu.svg" alt="request">
        </div>
       </a>
       <a href="../service/services.html">
        <div class="menu-bar menu-service ">
            <img src="../../../images/navbar/Service-Menu.svg" alt="service">
        </div>
       </a>
       <a href="../social/youtube/social-media.html">
        <div class="menu-bar menu-channel">
            <img src="../../../images/navbar/Channel-Menu.svg" alt="channel">
        </div>
       </a>
       <a href="../orders/order.html">
       <div class="menu-bar menu-order">
        <img src="../../../images/navbar/Order-Menu.svg" alt="order">
        <div class="menu-cont-order">
        </div>
            <div class="request-counting"> 2 </div>
        
        </div>
            </a>
        </div>
      <a href="#">
        <div class="menu-bar menu-payment">
           
    </div>
      </a>
      <a href="../settings/settings.html">
        <div class="menu-bar menu-settings">
            <img src="../../../images/navbar/Settings-Menu.svg" alt="settings">
    </div>
      </a>

      <a href="#">
      <div class="menu-bar menu-logout">
            <img src="../../../images/navbar/logout.svg" alt="channel">
        </div>
    </a>
        <div class="menu-cont">

        </div>
    </nav>
    <main class="contain">
        <div class="operation-request">
            <h1>Service requests</h1>
            <span class="explore">Explore service requsts from brands. Respond to requests that are right for you</span>
            <main id="filter">
      
                 <div class="selections">
                     Categories
                     <img src="../../../images/components/dropdown.svg" alt="dropdown">
                 </div>
             
               
                 <div class="selections">
                     Budget
                     <img src="../../../images/components/dropdown.svg" alt="dropdown">
                 </div>
                
                 <div class="selections">
                     Social Networks
                     <img src="../../../images/components/dropdown.svg" alt="dropdown">
                 </div>
                 
                 <div class="languages">
                     <div class="selections" id="language">
                         Languages
                         <img src="../../../images/components/dropdown.svg" alt="dropdown">
                     </div>
                     <div class="multiple" id="multiple">
                         <div class="search-item-multiple">
                             <img src="../../../images/header/search-item-multiple.svg" alt="search">
                             <input type="text" >
                         </div>
                         <div class="multiple-searching">
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Portugal</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Reino Unido</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Estonia</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Eslovenia</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Kenia</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Marruecos</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Swazilandia</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Burkina Faso</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Portugal</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Portugal</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Portugal</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Portugal</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Portugal</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Portugal</span>
                                 </div>
                                 <label>12</label>
                             </div>
     
                             <div class="search-item">
                                 <div class="checking">
                                     <input type="checkbox">
                                     <span>Portugal</span>
                                 </div>
                                 <label>12</label>
                             </div>
                         </div>
                         <div class="btns-search">
                             <button class="clear">Clear</button>
                             <button id="apply">Apply</button>
                         </div>
                     </div>
                 </div>
                 <div class="selections">
                     Locations
                     <img src="../../../images/components/dropdown.svg" alt="dropdown">
                 </div>
                 <div class="selections">
                     Delivery time
                     <img src="../../../images/components/dropdown.svg" alt="dropdown">
                 </div>
 
                 <input type="checkbox" id="check">
                 <label for="check" class="sent">
                   
                     <div class="dark-light">
                         <div class="dark-light-item">
  
                         </div>
                     </div>
                  
                    <span class="span">Responses only</span>
                 </label>
 
             </main>

            <div class="carousel">
                <div class="link">
                    <span>15,483 requests found</span>
                    <div>
                        <span>
                            Sort by: 
                        </span>
                        <select name="select" id="select">
                            <option value="Relevent">Relevent</option>
                        </select>
                    </div>
                    <!-- <a href="">See all <img src="../.../../../../images/images/Icon.svg" alt="arrow"></a> -->
                </div>
                <div class="grid-carousel">

                    <div class="box box1">
                        <div class="box-img">
                            <img src="../../../images/ss.svg" alt="computer">
                            <div class="like">
                                <img src="../../../images/circleHerat.svg" alt="circle">
                                <button><img class="LoveHeart" src="../../../images/heart.svg" alt="heart"></button>
                            </div>
                        </div>
                        <div class="all-info">
                            <div class="user-services">
                                <div class="pending">
                                    <button><img src="../../../images/components/orange-circle-two.svg" alt=""></button>
                                    <span>Pending</span>
                                </div>

                                <div class="users">
                                    <div class="user-photo">
                                        <img src="../../../images/kristin.svg" alt="">
                                    </div>
                                    <div class="user-name">
                                        Kristin Watson
                                    </div>
                                </div>

                            </div>
                            <div class="data">
                                <div class="calendar">
                                    <img src="../../../images/calendar.svg" alt="calendar">
                                    <span>Feb. 12 - Feb. 24</span>
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="price">3000,00 AED</div>
                                <div class="extra-information">
                                    <div class="btn">
                                        <img src="../../../images/location.svg" alt="location">
                                        UAE, Spain
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/earth.svg" alt="location">
                                        English
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/kashaluk.svg" alt="kashalok">
                                        Web development
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/sound.svg" alt="sound">
                                        Facebook, Instagram, Youtube
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="order">
                            <button>Take order</button>
                        </div>
                    </div>





                    <div class="box box2">
                        <div class="box-img">
                            <img src="../../../images/headphones.svg" alt="computer">
                            <div class="like">
                                <img src="../../../images/circleHerat.svg" alt="circle">
                                <button><img class="LoveHeart" src="../../../images/heart.svg" alt="heart"></button>
                            </div>
                        </div>

                        <div class="all-info">
                            <div class="user-services">
                                <div class="pending">
                                    <button><img src="../../../images/components/orange-circle-two.svg" alt=""></button>
                                    <span>Pending</span>
                                </div>
                                <div class="users">
                                    <div class="user-photo two">
                                        <img src="../../../images/albert.svg" alt="man">
                                    </div>
                                    <div class="user-name">
                                        Albert Flores
                                    </div>
                                </div>

                            </div>
                            <div class="data">
                                <div class="calendar">
                                    <img src="../../../images/calendar.svg" alt="calendar">
                                    <span>Feb. 12 - Feb. 24</span>
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="price">2300,00 AED</div>
                                <div class="extra-information">
                                    <div class="btn">
                                        <img src="../../../images/location.svg" alt="location">
                                        UAE, France
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/earth.svg" alt="location">
                                        English
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/kashaluk.svg" alt="kashalok">
                                        Web development
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/sound.svg" alt="sound">
                                        Facebook
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order">
                            <button>Take order</button>
                        </div>
                    </div>
                    <div class="box box3">
                        <div class="box-img">
                            <img src="../../../images/headp2.svg" alt="man">
                            <div class="like">
                                <img src="../../../images/circleHerat.svg" alt="circle">
                                <button><img class="LoveHeart" src="../../../images/heart.svg" alt="heart"></button>
                            </div>
                        </div>
                        <div class="all-info">
                            <div class="user-services">
                                <div class="pending">
                                    <button><img src="../../../images/components/orange-circle-two.svg" alt=""></button>
                                    <span>Pending</span>
                                </div>
                                <div class="users">
                                    <div class="user-photo two">
                                        <img src="../../../images/cody.svg" alt="man">
                                    </div>
                                    <div class="user-name">
                                        Cody Fisher
                                    </div>
                                </div>

                            </div>

                            <div class="data">
                                <div class="calendar">
                                    <img src="../../../images/calendar.svg" alt="calendar">
                                    <span>Feb. 12 - Feb. 24</span>
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="price">1300,00 AED</div>
                                <div class="extra-information">
                                    <div class="btn">
                                        <img src="../../../images/location.svg" alt="location">
                                        UAE, Saudi Arabia
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/earth.svg" alt="location">
                                        English
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/kashaluk.svg" alt="kashalok">
                                        Web development
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/sound.svg" alt="sound">
                                        Instagram, Youtube
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="order">
                            <button>Take order</button>
                        </div>

                    </div>
                    <div class="box box4">
                        <div class="box-img">
                            <img src="../../../images/headp3.svg" alt="laptop">
                            <div class="like">
                                <img src="../../../images/circleHerat.svg" alt="circle">
                                <button><img class="LoveHeart" src="../../../images/heart.svg" alt="heart"></button>
                            </div>
                        </div>
                        <div class="all-info">
                            <div class="user-services">
                                <div class="pending">
                                    <button><img src="../../../images/components/orange-circle-two.svg" alt=""></button>
                                    <span>Pending</span>
                                </div>

                                <div class="users">
                                    <div class="user-photo two">
                                        <img src="../../../images/jane.svg" alt="">
                                    </div>
                                    <div class="user-name">
                                        Jane Cooper
                                    </div>
                                </div>

                            </div>

                            <div class="data">
                                <div class="calendar">
                                    <img src="../../../images/calendar.svg" alt="calendar">
                                    <span>Feb. 12 - Feb. 24</span>
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="price">1450,00 AED</div>
                                <div class="extra-information">
                                    <div class="btn">
                                        <img src="../../../images/location.svg" alt="location">
                                        UAE, Spain
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/earth.svg" alt="location">
                                        English
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/kashaluk.svg" alt="kashalok">
                                        Web development
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/sound.svg" alt="sound">
                                        Facebook, Instagram, Youtube
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="order">
                            <button>Take order</button>
                        </div>

                    </div>


                </div>

                <div class="grid-carousel grids">

                    <div class="box box1">
                        <div class="box-img">
                            <img src="../../../images/r1 (1).svg" alt="robot">
                            <div class="like">
                                <img src="../../../images/circleHerat.svg" alt="circle">
                                <button><img class="LoveHeart" src="../../../images/heart.svg" alt="heart"></button>
                            </div>
                        </div>
                        <div class="all-info">

                            <div class="user-services">
                                <div class="pending">
                                    <button><img src="../../../images/components/orange-circle-two.svg" alt=""></button>
                                    <span>Pending</span>
                                </div>
                                <div class="users">
                                    <div class="user-photo">
                                        <img src="../../../images/albert.svg" alt="">
                                    </div>
                                    <div class="user-name">
                                        Albert Flores
                                    </div>
                                </div>
                            </div>

                            <div class="data">
                                <div class="calendar">
                                    <img src="../../../images/calendar.svg" alt="calendar">
                                    <span>Feb. 12 - Feb. 24</span>
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="price">2300,00 AED</div>
                                <div class="extra-information">
                                    <div class="btn">
                                        <img src="../../../images/location.svg" alt="location">
                                        UAE, France
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/earth.svg" alt="location">
                                        English
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/kashaluk.svg" alt="kashalok">
                                        Web development
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/sound.svg" alt="sound">
                                        Facebook
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="order">
                            <button>Take order</button>
                        </div>
                    </div>





                    <div class="box box2">
                        <div class="box-img">
                            <img src="../../../images/r1 (2).svg" alt="robot">
                            <div class="like">
                                <img src="../../../images/circleHerat.svg" alt="circle">
                                <button><img class="LoveHeart" src="../../../images/heart.svg" alt="heart"></button>
                            </div>
                        </div>

                        <div class="all-info">
                            <div class="user-services">
                                <div class="pending">
                                    <button><img src="../../../images/components/orange-circle-two.svg" alt=""></button>
                                    <span>Pending</span>
                                </div>

                                <div class="users">
                                    <div class="user-photo two">
                                        <img src="../../../images/cody.svg" alt="man">
                                    </div>
                                    <div class="user-name">
                                        Cody Fisher
                                    </div>
                                </div>
                            </div>


                            <div class="data">
                                <div class="calendar">
                                    <img src="../../../images/calendar.svg" alt="calendar">
                                    <span>Feb. 12 - Feb. 24</span>
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="price">1300,00 AED</div>
                                <div class="extra-information">
                                    <div class="btn">
                                        <img src="../../../images/location.svg" alt="location">
                                        UAE, Saudi Arabia
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/earth.svg" alt="location">
                                        English
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/kashaluk.svg" alt="kashalok">
                                        Web development
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/sound.svg" alt="sound">
                                        Instagram, Youtube
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order">
                            <button>Take order</button>
                        </div>
                    </div>


                    <div class="box box3">
                        <div class="box-img">
                            <img src="../../../images/r1 (3).svg" alt="robot">
                            <div class="like">
                                <img src="../../../images/circleHerat.svg" alt="circle">
                                <button><img class="LoveHeart" src="../../../images/heart.svg" alt="heart"></button>
                            </div>
                        </div>
                        <div class="all-info">
                            <div class="user-services">
                                <div class="pending">
                                    <button><img src="../../../images/components/orange-circle-two.svg" alt=""></button>
                                    <span>Pending</span>
                                </div>
                                <div class="users">
                                    <div class="user-photo two">
                                        <img src="../../../images/kristin.svg" alt="man">
                                    </div>
                                    <div class="user-name">
                                        Kristin Watson
                                    </div>
                                </div>


                            </div>
                            <div class="data">
                                <div class="calendar">
                                    <img src="../../../images/calendar.svg" alt="calendar">
                                    <span>Feb. 12 - Feb. 24</span>
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="price">3000,00 AED</div>
                                <div class="extra-information">
                                    <div class="btn">
                                        <img src="../../../images/location.svg" alt="location">
                                        UAE, Spain
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/earth.svg" alt="location">
                                        English
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/kashaluk.svg" alt="kashalok">
                                        Web development
                                    </div>
                                    <div class="btn">
                                        <img src="../../../images/sound.svg" alt="sound">
                                        Facebook, Instagram, Youtube
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="order">
                            <button>Take order</button>
                        </div>

                    </div>



                </div>
            </div>


           


        </div>
    </main>


    <footer>
        <div class="contain footer">
            <div class="contain">
                <div class="top-footer">
                    <img class="influence" src="../../../images/22 1.svg" alt="fluencer">
                    <nav>
                        <a href="">Brand</a>
                        <a href="">Influencer</a>
                        <a href="">FAQ</a>
                        <a href="">Blog</a>
                        <a href="">Career</a>
                        <a href="">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <img src="../../../images/in.svg" alt="in">
                        <img src="../../../images/ins.svg" alt="twit">
                        <img src="../../../images/meta.svg" alt="meta">
                        <img src="../../../images/twit.svg" alt="instagram">
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                    <span>Terms and Conditions</span>
                </div>
            </div>
        </div>
    </footer>
    
  
    <script src="../js/app.js"></script>
</body>

</html>