<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../css/main.css">
    <title>Document</title>
</head>

<body>

    <header>
        <section class="contain header-top setting-contain">
            <div class="header">
                <div class="header-left">
                    <a href="#"> <img src="../../../images/header/techfluencer.svg" alt="logo"></a>
                </div>
                <div class="header-right">
                    <button class="img-header" id="notification">
                        <img src="../../../images/q.svg" alt="vector">
                        <img class="ellipse" src="../../../images/notifcation-dotted.svg" alt="Ellipse">
                    </button>
                    <button class="header-img"><img src="../../../images/header/logo-header.svg" alt=""></button>
                </div>
            </div>
        </section>
    </header>

    <div class="conatiner-webs">
        
    <nav class="navigation">
        <a href="../influencer-dashboard.html">
            <div class="menu-bar menu-dashboard">
                <img class="img" src="../../../images/navbar/Dashboard.svg" alt="dashboard">
            </div>
        </a>
       <a href="../custom_request/request-portal.html">
        <div class="menu-bar menu-request">
           <img class="img" src="../../../images/navbar/Request-Menu.svg" alt="request">
        </div>
       </a>
       <a href="../service/services.html">
        <div class="menu-bar menu-service  ">
            <img src="../../../images/navbar/Service-Menu.svg" alt="service">
        </div>
       </a>
       <a href="../social/youtube/social-media.html">
        <div class="menu-bar menu-channel">
            <img src="../../../images/navbar/Channel-Menu.svg" alt="channel">
        </div>
       </a>
       <a href="../orders/order.html">
       <div class="menu-bar menu-order ">
        <img src="../../../images/navbar/Order-Menu.svg" alt="order">
        <div class="menu-cont-order">
        </div>
            <div class="request-counting"> 2 </div>
        
        </div>
            </a>
        
      <a href="#">
        <div class="menu-bar menu-payment">
           
    </div>
      </a>
      <a href="#">
        <div class="menu-bar  menu-settings active">
            <img src="../../../images/navbar/Settings-Menu.svg" alt="settings">
    </div>
      </a>

      <a href="#">
      <div class="menu-bar menu-logout">
            <img src="../../../images/navbar/logout.svg" alt="channel">
        </div>
    </a>
        <div class="menu-cont">

        </div>
    </nav>

    <main class="contain setting-contain">

        <div class="edit-profile">
            <label>
                EDIT PROFILE
            </label>
            <div class="edit-items">
               <a href="./settings.html">
                <div class="edit-item ">
                    <div></div>
                    <span>Edit profile</span>
                </div>
               </a>
             <a href="./email-password-settings.html" class="edit-settings">
                <div class="edit-item  ">
                    <div></div>
                    <span>Email & password</span>
                </div>
            </a>
            <a href="./notification.html" class="edit-notifcation">
                <div class="edit-item active ">
                    <div></div>
                    <span>Notifcation settings</span>
                </div>
                </a>

                <a href="./p-score.html" class="edit-score">
                    <div class="edit-item   ">
                        <div></div>
                            <span>P Score</span>
                        </div>
                    </a>

                    <a href="./upgrade-subscription.html" class="edit-upgrade">
                        <div class="edit-item ">
                               <div></div>
                                <span>Upgrade Subscription</span>
                            </div>
                        </a>
            </div>
        </div>

        <div class="edition notifcation-edition">
            <h1>Notifcation settings</h1>
            <div class="edition-profile notifcation-profile">
              

                <div class="sign-in">
                  
                    <div class="item email-item">
                        <form >Add email notifcations *</form>
                         
                    <div class="password notifcation-btn" id="notifcation-btn">
                        <input type="password" placeholder="" class="input-active">
                        <button>Add</button>
                    </div>
                    <div class="btn-edit btn-grid">
                        <div class="email-notifcation-button">
                            <label>Email</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                                
                            </button>
                        </div>
                        <div class="email-notifcation-button">
                            <label>Email 2</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                              
                            </button>
                        </div>
                        <div class="email-notifcation-button">
                            <label>Email 3</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                      </div>
                    </div>

                     
                    <div class="item email-item">
                        <form >Add SMS notification *</form>
                         
                    <div class="password notifcation-btn" id="notifcation-btn2">
                        <input type="password" placeholder="" class="input-active">
                        <button>Add</button>
                    </div>
                    <div class="btn-edit btn-grid">
                        <div class="email-notifcation-button">
                            <label>Email</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                        <div class="email-notifcation-button">
                            <label>Email 2</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                        <div class="email-notifcation-button">
                            <label>Email 3</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                      </div>
                    </div>                  
                    <div class="item email-item">
                        <form >Add Telegram notification *</form>
                         
                    <div class="password notifcation-btn" id="notifcation-btn3">
                        <input type="password" placeholder="" class="input-active">
                        <button>Add</button>
                    </div>
                    <div class="btn-edit btn-grid">
                        <div class="email-notifcation-button">
                            <label>Email</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                        <div class="email-notifcation-button">
                            <label>Email 2</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                        <div class="email-notifcation-button">
                            <label>Email 3</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                      </div>
                    </div>
                    <div class="item email-item">
                        <form >Add WhatsApp notification *</form>
                         
                    <div class="password notifcation-btn" id="notifcation-btn4">
                        <input type="password" placeholder="">
                        <button>Add</button>
                    </div>
                    <div class="btn-edit btn-grid">
                        <div class="email-notifcation-button">
                            <label>Email</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                        <div class="email-notifcation-button">
                            <label>Email 2</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                        <div class="email-notifcation-button">
                            <label>Email 3</label>
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                      </div>
                    </div>


                    <input type="checkbox" id="check">
                    <label for="check" class="sent turn-on-off">
                       
                         <div class="dark-light">
                             <div class="dark-light-item ">
      
                             </div>
                         </div>
                       
                        <span class="stop-notifcation">Stop all notifcation</span>
                     </label>


                 <button class="save">Save</button>

                </div>
            </div>
        </div>
    </main>
    </div>

    <footer>
        <div class="contain footer">
            <div class="contain">
                <div class="top-footer">
                    <img class="influence" src="../../../images/22 1.svg" alt="fluencer">
                    <nav>
                        <a href="">Brand</a>
                        <a href="">Influencer</a>
                        <a href="">FAQ</a>
                        <a href="">Blog</a>
                        <a href="">Career</a>
                        <a href="">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <a href="#">
                            <img src="../../../images/in.svg" alt="in">
                        </a>
                        <a href="#">
                            <img src="../../../images/ins.svg" alt="twit">
                        </a>
                        <a href="#">
                            <img src="../../../images/meta.svg" alt="meta">
                        </a>
                        <a href="#">
                            <img src="../../../images/twit.svg" alt="instagram">
                        </a>
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                   <a href="#"><span>Terms and Conditions</span></a>
                </div>
            </div>
        </div>
    </footer>

    <script>

        let notifcation = document.getElementById("notifcation-btn")
        let notifcation2 = document.getElementById("notifcation-btn2")
        let notifcation3 = document.getElementById("notifcation-btn3")
        let notifcation4 = document.getElementById("notifcation-btn4")

        notifcation.onclick = function () {
            notifcation.classList.add("notifcation-btn-active");
        }        

        notifcation2.onclick = function () {
            notifcation2.classList.add("notifcation-btn-active");
        } 
        
        notifcation3.onclick = function () {
            notifcation3.classList.add("notifcation-btn-active");
        }        

        notifcation4.onclick = function () {
            notifcation4.classList.add("notifcation-btn-active");
        }

document.onclick = function(e){
if( !notifcation.contains(e.target) ){
    notifcation.classList.remove("notifcation-btn-active");
}
if( !notifcation2.contains(e.target) ){
    notifcation2.classList.remove("notifcation-btn-active");
}
if( !notifcation3.contains(e.target) ){
    notifcation3.classList.remove("notifcation-btn-active");
}
if( !notifcation4.contains(e.target) ){
    notifcation4.classList.remove("notifcation-btn-active");
}
}
    </script>

    <script src="../../../js/app.js"></script>
</body>

</html>