<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../css/main.css">
    <title>Document</title>
</head>

<body>
    <header>
        <section class="contain header-top">
            <div class="header">
                <div class="header-left">
                    <a href="#"> <img src="../../../images/header/techfluencer.svg" alt="logo"></a>
                </div>
                <div class="header-right">
                    <button class="img-header" id="notifcation">
                        <img src="../../../images/q.svg" alt="vector">
                        <img class="ellipse" src="../../../images/notifcation-dotted.svg" alt="Ellipse">
                    </button>
                    <a href="#" class="header-img"><img src="../../../images/header/logo-header.svg" alt="header"></a>
                </div>
            
                
            </div>
            <div class="notifcation-message">
                <div class="notifications-items" id="item-notifcate">
                    <div class="top-notification">
                      <button id="notifcation-cancel">  <img src="../../../images/image/cancelimg.svg" alt="cancel" ></button>
                        <h3>Notifications</h3>
                    </div>
                    <div class="note-contents">
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                            <div class="note-button">
                                <button class="btns gray">Action 2</button>
                                <button class="btns greens">Action 1</button>
                            </div>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                            <div class="note-button">
                                <button class="btns gray">Action 2</button>
                                <button class="btns greens">Action 1</button>
                            </div>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="linear-gradient">
                </div>
            </div>
        </section>

    </header>


   <div class="container-webs">
    <nav class="navigation">
        <a href="../influencer-dashboard.html">
            <div class="menu-bar menu-dashboard">
                <img class="img" src="../../../images/navbar/Dashboard.svg" alt="dashboard">
            </div>
        </a>
       <a href="../custom_request/request-portal.html">
        <div class="menu-bar menu-request">
           <img class="img" src="../../../images/navbar/Request-Menu.svg" alt="request">
        </div>
       </a>
       <a href="../service/services.html">
        <div class="menu-bar menu-service  ">
            <img src="../../../images/navbar/Service-Menu.svg" alt="service">
        </div>
       </a>
       <a href="../social/youtube/social-media.html">
        <div class="menu-bar menu-channel">
            <img src="../../../images/navbar/Channel-Menu.svg" alt="channel">
        </div>
       </a>
       <a href="../orders/order.html">
       <div class="menu-bar menu-order ">
        <img src="../../../images/navbar/Order-Menu.svg" alt="order">
        <div class="menu-cont-order">
        </div>
            <div class="request-counting"> 2 </div>
        
        </div>
            </a>
      <a href="#">
        <div class="menu-bar menu-payment">
           
    </div>
      </a>
      <a href="#">
        <div class="menu-bar  menu-settings active">
            <img src="../../../images/navbar/Settings-Menu.svg" alt="settings">
    </div>
      </a>

      <a href="#">
      <div class="menu-bar menu-logout">
            <img src="../../../images/navbar/logout.svg" alt="channel">
        </div>
    </a>
        <div class="menu-cont">

        </div>
    </nav>

    <main class="contain setting-contain">

        <div class="edit-profile">
            <label>
                EDIT PROFILE
            </label>
            <div class="edit-items">
               <a href="#">
                <div class="edit-item active">
                    <div></div>
                    <span>Edit profile</span>
                </div>
               </a>
             <a href="./email-password-settings.html" class="edit-settings">
                <div class="edit-item  ">
                    <div></div>
                    <span>Email & password</span>
                </div>
            </a>
            <a href="./notification.html" class="edit-notifcation">
                <div class="edit-item  ">
                    <div></div>
                    <span>Notifcation settings</span>
                </div>
                </a>

                <a href="./p-score.html" class="edit-score">
                    <div class="edit-item  ">
                        <div></div>
                            <span>P Score</span>
                        </div>
                    </a>

                    <a href="./upgrade-subscription.html" class="edit-upgrade">
                        <div class="edit-item ">
                               <div></div>
                                <span>Upgrade Subscription</span>
                            </div>
                        </a>
            </div>
        </div>

        <div class="edition">
            <h1>Edit profile</h1>
            <div class="edition-profile block-container">
                <form class="violet">
                    <input type="hidden">
                    <div class="upload-new-picture">
                        <img src="../../../images/profile/profile-ava-lg.png" alt="ava">
                        <label class="upload-button">
                            <input type="file" id="id_image" name="image" style="display: none" accept="image/*" class="form-control" data-com.bitwarden.browser.user-edit="yes">
                            Upload new picture
                        </label>
                        <label><a class="delete-button" >Delete</a></label>
                    </div>
                    <div class="form-group first">
                        <label for="firstName">First name *</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name *</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <select class="form-control" id="country">
                            <option>Select</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="country">Language</label>
                        <select class="form-control" id="country">
                            <option>Select</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="numberOfEmployees">Gender</label>
                        <select class="form-control" id="numberOfEmployees">
                            <option>Select Gender</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <small id="emailHelp" class="form-text text-muted">Select gender</small>
                        <div class="selected-items">
                            <ul>
                                <li>Male<button class="btn"><img src="../../../images/icons/form-x-icon.svg" alt="cancel-icon"></button></li>
                            </ul>                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">+971</span>
                            </div>
                            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numberOfEmployees">Industries</label>
                        <select class="form-control" id="numberOfEmployees">
                            <option>Select industry</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <small id="emailHelp" class="form-text text-muted">Select one or more social networks to run the campaign</small>
                        <div class="selected-items">
                            <ul>
                                <li>Technology<button class="btn"><img src="../../../images/icons/form-x-icon.svg" alt="cancel-icon"></button></li>
                                <li>Manufactoring<button class="btn"><img src="../../../images/icons/form-x-icon.svg" alt="cancel-icon"></button></li>
                                <li>Food<button class="btn"><img src="../../../images/icons/form-x-icon.svg" alt="cancel-icon"></button></li>
                            </ul>                           
                        </div>
                    </div>
                    <a href="edit-profile-influencer-done.html" type="submit" class="btn btn-violet">Save</a>
                </form>
            </div>
        </div>
    </main>
   </div>

    <footer>
        <div class="contain footer">
            <div class="contain">
                <div class="top-footer">
                    <img class="influence" src="../../../images/22 1.svg" alt="fluencer">
                    <nav>
                        <a href="">Brand</a>
                        <a href="">Influencer</a>
                        <a href="">FAQ</a>
                        <a href="">Blog</a>
                        <a href="">Career</a>
                        <a href="">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <a href="#">
                            <img src="../../../images/in.svg" alt="in">
                        </a>
                        <a href="#">
                            <img src="../../../images/ins.svg" alt="twit">
                        </a>
                        <a href="#">
                            <img src="../../../images/meta.svg" alt="meta">
                        </a>
                        <a href="#">
                            <img src="../../../images/twit.svg" alt="instagram">
                        </a>
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                    <a href="../../faq-blog/term-condition.html"><span>Terms and Conditions</span></a>
                </div>
            </div>
        </div>
    </footer>


    
    <!-- <script src="../../../js/app.js"></script> -->
    <script src="../../../js/notifcation.js"></script>
</body>

</html>