<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
       <link rel="stylesheet" href="../../../css/base.css">
        <link rel="stylesheet" href="../../../css/main.css">
    <title>Document</title>
</head>

<body>

    <header>
        <section class="contain header-top setting-contain">
            <div class="header">
                <div class="header-left">
                    <a href="#"><img src="../../../images/header/techfluencer.svg" alt="logo"></a>
                </div>
                <div class="header-right">
                    <button class="img-header" id="notification">
                        <img src="../../../images/q.svg" alt="vector">
                        <img class="ellipse" src="../../../images/notifcation-dotted.svg" alt="Ellipse">
                    </button>
                    <a href="#" class="header-img"><img src="../../../images/header/logo-header.svg" alt=""></a>
                </div>
            </div>
        </section>
    </header>

   <div class="container-webs">
    <nav class="navigation">
        <a href="../influencer-dashboard.html">
            <div class="menu-bar menu-dashboard">
                <img class="img" src="../../../images/navbar/Dashboard.svg" alt="dashboard">
            </div>
        </a>
       <a href="../custom_request/request-portal.html">
        <div class="menu-bar menu-request">
           <img class="img" src="../../../images/navbar/Request-Menu.svg" alt="request">
        </div>
       </a>
       <a href="../service/services.html">
        <div class="menu-bar menu-service  ">
            <img src="../../../images/navbar/Service-Menu.svg" alt="service">
        </div>
       </a>
       <a href="../social/youtube/social-media.html">
        <div class="menu-bar menu-channel">
            <img src="../../../images/navbar/Channel-Menu.svg" alt="channel">
        </div>
       </a>
       <a href="../orders/order.html">
       <div class="menu-bar menu-order ">
        <img src="../../../images/navbar/Order-Menu.svg" alt="order">
        <div class="menu-cont-order">
        </div>
            <div class="request-counting"> 2 </div>
        
        </div>
            </a>
      <a href="#">
        <div class="menu-bar menu-payment">
           
    </div>
      </a>
      <a href="#">
        <div class="menu-bar  menu-settings active">
            <img src="../../../images/navbar/Settings-Menu.svg" alt="settings">
    </div>
      </a>

      <a href="#">
      <div class="menu-bar menu-logout">
            <img src="../../../images/navbar/logout.svg" alt="channel">
        </div>
    </a>
        <div class="menu-cont">

        </div>
    </nav>

    <main class="contain setting-contain">

        <div class="edit-profile">
            <label>
                EDIT PROFILE
            </label>
            <div class="edit-items">
               <a href="#">
                <div class="edit-item active">
                    <div></div>
                    <span>Edit profile</span>
                </div>
               </a>
             <a href="./email-password-settings.html" class="edit-settings">
                <div class="edit-item  ">
                    <div></div>
                    <span>Email & password</span>
                </div>
            </a>
            <a href="./notification.html" class="edit-notifcation">
                <div class="edit-item  ">
                    <div></div>
                    <span>Notifcation settings</span>
                </div>
                </a>

                <a href="./p-score.html" class="edit-score">
                    <div class="edit-item   ">
                        <div></div>
                            <span>P Score</span>
                        </div>
                    </a>

                    <a href="./upgrade-subscription.html" class="edit-upgrade">
                        <div class="edit-item ">
                               <div></div>
                                <span>Upgrade Subscription</span>
                            </div>
                        </a>
            </div>
        </div>

        <div class="edition">
            <h1>Edit profile</h1>
            <div class="edition-profile">
                <div class="upload-new-picture">
                  <div class="upload-picture">
                    <img src="../../../images/image/edition.svg" alt="edition">
                  </div>
                        <button class="upload-button">
                            Upload new picture
                        </button>
                        <button class="delete-button">
                            Delete
                        </button>
                </div>

                <div class="sign-in">
                    <div class="item">
                        <form >First name *</form>
                        <input type="text" placeholder="INFLUENCER " class="input-active">
                    </div>
                    <div class="item" id="input-item">
                        <form >Last name *</form>
                        <input type="text" placeholder="Hudson">
                    </div>
                    <div class="item ">
                        <form >Country *</form>
                       <div class="item-select">
                        <select name="select">
                            <option value="select">Select</option>
                            <option value="uzbekistan">Uzbekistan</option>
                            <option value="BAA">BAA</option>
                        </select>
                       </div>
                    </div>
                    <div class="item">
                        <form >Language *</form>
                       <div class="item-select">
                        <select name="select">
                            <option value="select">Select</option>
                            <option value="Uzbek">Uzbek</option>
                            <option value="English">English</option>
                        </select>
                       </div>
                    </div>

                    <div class="gender">
                        <div class="item ">
                            <form >Gender *</form>
                           <div class="item-select">
                            <select name="select" >
                                <option value="select">Select Gender</option>
                                <option value="Uzbek">Male</option>
                                <option value="English">Female</option>
                            </select>
                           </div>
                            <span>Select one or more social networks to run the campaign</span>
                          <div class="btn-edit">
                            <div class="gender-button">
                                Male
                                <button class="cancel-item">
                                    <img src="../../../images/image/cancel.svg" alt="cancel">
                                </button>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="item edit-number">
                        <form >Language *</form>
                        <div class="sign-info">
                            <input type="number" placeholder="+971" class="code-number">
                            <input type="number" placeholder="235325231213" class="code-number-two">
                        </div>
                    </div>

                 <div class="gender">
                    <div class="item">
                        <form >Industries *</form>
                        <div class="item-select">
                            <select name="select">
                                <option value="select">Select social network</option>
                                <option value="Uzbek">Uzbek</option>
                                <option value="English">English</option>
                            </select>
                        </div>
                        <span>Select one or more social networks to run the campaign</span>
                       <div class="btn-edit">
                        <div class="gender-button">
                            Technology
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                        <div class="gender-button">
                            Manifacturing
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                        <div class="gender-button">
                            Food
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>
                       </div>
                    </div>
                 </div>

                 <button class="save">Save</button>

                </div>
            </div>
        </div>
    </main>
   </div>

    <footer>
        <div class="contain footer">
            <div class="contain">
                <div class="top-footer">
                    <img class="influence" src="../../../images/22 1.svg" alt="fluencer">
                    <nav>
                        <a href="">Brand</a>
                        <a href="">Influencer</a>
                        <a href="">FAQ</a>
                        <a href="">Blog</a>
                        <a href="">Career</a>
                        <a href="">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <a href="#">
                            <img src="../../../images/in.svg" alt="in">
                        </a>
                        <a href="#">
                            <img src="../../../images/ins.svg" alt="twit">
                        </a>
                        <a href="#">
                            <img src="../../../images/meta.svg" alt="meta">
                        </a>
                        <a href="#">
                            <img src="../../../images/twit.svg" alt="instagram">
                        </a>
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                   <a href="#"><span>Terms and Conditions</span></a>
                </div>
            </div>
        </div>
    </footer>


    
    <script src="../../../js/app.js"></script>
</body>

</html>