<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../vendor/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="../../../css/main.css">
        <link rel="stylesheet" href="../../../css/components/service-report.css">
        
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
</head>

<body>
    <header>
        <section class="contain header-top">
            <div class="header">
                <div class="header-left">
                    <a href="#"> <img src="../../../images/header/techfluencer.svg" alt="logo"></a>
                </div>
                <div class="header-right">
                    <button class="img-header" id="notifcation">
                        <img src="../../../images/q.svg" alt="vector">
                        <img class="ellipse" src="../../../images/notifcation-dotted.svg" alt="Ellipse">
                    </button>
                    <a href="#" class="header-img"><img src="../../../images/header/logo-header.svg" alt="header"></a>
                </div>
            
                
            </div>
            <div class="notifcation-message">
                <div class="notifications-items" id="item-notifcate">
                    <div class="top-notification">
                      <button id="notifcation-cancel">  <img src="../../../images/image/cancelimg.svg" alt="cancel" ></button>
                        <h3>Notifications</h3>
                    </div>
                    <div class="note-contents">
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                            <div class="note-button">
                                <button class="btns gray">Action 2</button>
                                <button class="btns greens">Action 1</button>
                            </div>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                            <div class="note-button">
                                <button class="btns gray">Action 2</button>
                                <button class="btns greens">Action 1</button>
                            </div>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="linear-gradient">
                </div>
            </div>
        </section>

    </header>


  <div class="container-webs">
    <nav class="navigation">
        <a href="../influencer-dashboard.html">
            <div class="menu-bar menu-dashboard">
                <img class="img" src="../../../images/navbar/Dashboard.svg" alt="dashboard">
            </div>
        </a>
       <a href="../custom_request/request-portal.html">
        <div class="menu-bar menu-request">
           <img class="img" src="../../../images/navbar/Request-Menu.svg" alt="request">
        </div>
       </a>
       <a href="../service/services.html">
        <div class="menu-bar menu-service  active">
            <img src="../../../images/navbar/Service-Menu.svg" alt="service">
        </div>
       </a>
       <a href="../social/youtube/social-media.html">
        <div class="menu-bar menu-channel">
            <img src="../../../images/navbar/Channel-Menu.svg" alt="channel">
        </div>
       </a>
       <a href="../orders/order.html">
       <div class="menu-bar menu-order">
        <img src="../../../images/navbar/Order-Menu.svg" alt="order">
        <div class="menu-cont-order">
        </div>
            <div class="request-counting"> 2 </div>
        
        </div>
            </a>
      <a href="#">
        <div class="menu-bar menu-payment">
           
    </div>
      </a>
      <a href="../settings/settings.html">
        <div class="menu-bar menu-settings">
            <img src="../../../images/navbar/Settings-Menu.svg" alt="settings">
    </div>
      </a>

      <a href="#">
      <div class="menu-bar menu-logout">
            <img src="../../../images/navbar/logout.svg" alt="channel">
        </div>
    </a>
        <div class="menu-cont">

        </div>
    </nav>


        
    <main class="contain" id="main">
      <div class="operation-request add-services">
     
            <div class="service-box">
                <div class="box-carousel">
                    <div class="box-body">
                        <div class="nav-title">
                            <h1>Step 1: Select social media account</h1>
                        </div>
                        <div class="nav-sub">
                            <img src="../../../images/components/components-attention.svg" alt="icon">
                            <span>You can add a  new social media channels in the sidebar</span>
                        </div>
                        <section class="splide mb-0 splide--slide splide--ltr splide--draggable is-active is-initialized" aria-label="Splide2" id="splide03" aria-roledescription="carousel">
                        <div class="splide__track splide__track--slide splide__track--ltr splide__track--draggable" id="splide03-track" style="padding-left: 0px; padding-right: 0px;" aria-live="polite" aria-atomic="true" aria-busy="false">
                            <ul class="splide__list" id="splide03-list" role="presentation" style="transform: translateX(0px);">
                                <li class="splide__slide box account-card is-active is-visible social-list" id="splide03-slide01" role="group" aria-roledescription="slide" aria-label="1 of 2" style="margin-right: 20px;margin-bottom: 30px; height: 420px; width: 355px; ">
                                    <div class="box-body">
                                        <div class="account-info-service">
                                            <div class="account-status">
                                                <div class="d-flex">
                                                    <img class="social-logo" src="../../../images/components/youtube-service.svg" alt="logo">
                                                    <div class=" status status-in-progress status-pending-two"  style="align-items: center;">
                                                        <img src="../../../images/components/green-circle.svg" alt="green">
                                                        <span>Active</span>
                                                    </div>
                                                </div>
                                                
                                                <div class="dropleft tree-dot dropdown show">
                                                    <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <svg width="19" height="5" viewBox="0 0 19 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="2.00391" cy="2.01172" r="2" fill="#707FDA"></circle>
                                                        <circle cx="9.00391" cy="2.01172" r="2" fill="#707FDA"></circle>
                                                        <circle cx="16.0039" cy="2.01172" r="2" fill="#707FDA"></circle>
                                                        </svg>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Disable</a>
                                                        <a class="dropdown-item" href="#">Enable</a>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="account-head">
                                                <img class="account-img rounded-circle" src="../../../images/header/logo-header.svg" alt="ava">
                                                <div>
                                                    <h2 class="title">LabelCom<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 13C10.0899 13 13 10.0899 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13ZM9.57617 5.48014C9.84134 5.16193 9.79835 4.68901 9.48014 4.42383C9.16193 4.15866 8.68901 4.20165 8.42383 4.51986L5.63977 7.86074L4.55287 6.67502C4.27297 6.36969 3.79855 6.34906 3.49321 6.62895C3.18787 6.90885 3.16724 7.38327 3.44713 7.68861L5.1138 9.50679C5.26003 9.66631 5.46803 9.7549 5.68437 9.74979C5.90071 9.74468 6.1043 9.64638 6.24283 9.48014L9.57617 5.48014Z" fill="#707FDA"></path>
                                                    </svg>
                                                    </h2>
                                                    <h3 class="sub-title">Influencer Name</h3>
                                                </div>
                                            </a>
                                            <div class="account-stats">
                                                <div class="d-flex align-items-center flex-wrap">
                                                    <div class="item">
                                                        <h3>343</h3>
                                                        <p>Videos</p>
                                                    </div>
                                                    <div class="item">
                                                        <h3>112M</h3>
                                                        <p>Subscribers</p>
                                                    </div>
                                                    <div class="item">
                                                        <h3>112M</h3>
                                                        <p>Views</p>
                                                    </div>
                                                    <div class="item">
                                                        <h3>46K</h3>
                                                        <p>Comments</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <p class="description-service">This is a description of the channel I use for social media influencing brand promotions...This is a description of the channel I use for social media influencing brand promotions... This is a description of the channel I use for social media influencing brand promotions.</p> 
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide box account-card disable is-visible is-next social-list" id="splide03-slide02" role="group" aria-roledescription="slide" aria-label="2 of 2" style="margin-right: 20px; width: 355px;">
                                    <div class="box-body">
                                        <div class="account-info-service account-pending">
                                            <div class="account-status">
                                                <div class="d-flex">
                                                    <img class="social-logo" src="../../../images/components/youtube-service.svg" alt="logo">
                                                    <div class=" status status-pending status-pending-two" style="align-items: center;">
                                                       <div></div>
                                                        <span class="yellow-color">Pending</span>
                                                    </div>
                                                </div>

                                                <div class="wait-alert">
                                                    <img src="../../../images/components/components-attention.svg" alt="icon">
                                                    <h4>Please wait for channel approval to add a service for this channel.</h4>
                                                    <label>Ut ac tincidunt mi sagittis accumsan magna amet.</label>
                                                </div>
                                                
                                                <div class="dropleft tree-dot dropdown show">
                                                    <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <svg width="19" height="5" viewBox="0 0 19 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="2.00391" cy="2.01172" r="2" fill="#707FDA"></circle>
                                                        <circle cx="9.00391" cy="2.01172" r="2" fill="#707FDA"></circle>
                                                        <circle cx="16.0039" cy="2.01172" r="2" fill="#707FDA"></circle>
                                                        </svg>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item" href="#">Disable</a>
                                                        <a class="dropdown-item" href="#">Enable</a>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="account-head">
                                                <img class="account-img rounded-circle" src="../../../images/header/logo-header.svg" alt="ava">
                                                <div>
                                                    <h2 class="title">LabelCom<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 13C10.0899 13 13 10.0899 13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 10.0899 2.91015 13 6.5 13ZM9.57617 5.48014C9.84134 5.16193 9.79835 4.68901 9.48014 4.42383C9.16193 4.15866 8.68901 4.20165 8.42383 4.51986L5.63977 7.86074L4.55287 6.67502C4.27297 6.36969 3.79855 6.34906 3.49321 6.62895C3.18787 6.90885 3.16724 7.38327 3.44713 7.68861L5.1138 9.50679C5.26003 9.66631 5.46803 9.7549 5.68437 9.74979C5.90071 9.74468 6.1043 9.64638 6.24283 9.48014L9.57617 5.48014Z" fill="#707FDA"></path>
                                                    </svg>
                                                    </h2>
                                                    <h3 class="sub-title">Influencer Name</h3>
                                                </div>
                                            </a>
                                            <div class="account-stats">
                                                <div class="d-flex align-items-center flex-wrap">
                                                    <div class="item">
                                                        <h3>343</h3>
                                                        <p>Videos</p>
                                                    </div>
                                                    <div class="item">
                                                        <h3>112M</h3>
                                                        <p>Subscribers</p>
                                                    </div>
                                                    <div class="item">
                                                        <h3>112M</h3>
                                                        <p>Views</p>
                                                    </div>
                                                    <div class="item">
                                                        <h3>46K</h3>
                                                        <p>Comments</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <p class="description-service">This is a description of the channel I use for social media influencing brand promotions...This is a description of the channel I use for social media influencing brand promotions... This is a description of the channel I use for social media influencing brand promotions.</p> 
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        </section>
                    </div>
                </div>
            </div>
            
            <div class="service-box">
                <div class="box-body">
                    <div class="nav-title">
                        <h1>Step 2: Details</h1>
                    </div>
                    <form class="violets">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="The name of your service">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Description of your service"></textarea>
                            <small id="emailHelp" class="form-text text-muted">Let me tell you about the service, provide in detail so you know what to expect.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Delivery Type</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="What will you be delivering to the client as part of your service."></textarea>
                            <small id="emailHelp" class="form-text text-muted">What will you be delivering to the client as part of your service.</small>
                        </div>
                        <div class="form-group">
                            <label for="numberOfEmployees">Location</label>
                            <select class="form-control" id="numberOfEmployees">
                                <option>Select location</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Select one or more location of your service</small>
                            <div class="btn-edit">
                                <div class="gender-button">
                                    United Arab Emirates
                                    <button class="cancel-item">
                                        <img src="../../../images/image/cancel.svg" alt="cancel">
                                    </button>
                                </div>
                                <div class="gender-button">
                                    Spain
                                    <button class="cancel-item">
                                        <img src="../../../images/image/cancel.svg" alt="cancel">
                                    </button>
                                </div>                          
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numberOfEmployees">Language</label>
                            <select class="form-control" id="numberOfEmployees">
                                <option>Select language</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Select one or more languages of your service</small>
                            <div class="btn-edit">
                                <div class="gender-button">
                                    English
                                    <button class="cancel-item">
                                        <img src="../../../images/image/cancel.svg" alt="cancel">
                                    </button>
                                </div>
                                <div class="gender-button">
                                    Arabic
                                    <button class="cancel-item">
                                        <img src="../../../images/image/cancel.svg" alt="cancel">
                                    </button>
                                </div>                          
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numberOfEmployees">Category</label>
                            <select class="form-control" id="numberOfEmployees">
                                <option>Select category</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Select one or more categories of your service</small>
                            <div class="btn-edit">
                                <div class="gender-button">
                            Web development
                            <button class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </button>
                        </div>                           
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="title">Service Price</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="200$  please visit rate card tab for suggested price">
                        </div>
                        <div class="form-group">
                            <label for="title">Service Images</label>
                            <label class="btn form-control drop-file">
                                <input type="file" id="id_image" name="image" style="display: none" accept="image/*" class="form-control" data-com.bitwarden.browser.user-edit="yes">
                                <button> <img src="../../../images/image/pic.svg" alt="picture"></button>
                                <button><img src="../../../images/image/vid.svg" alt="video"></button>
                                <p>Click or drag your photo here to upload</p>
                            </label>
                            <small id="emailHelp" class="form-text text-muted">Add up to 4 photos</small>
                            <div class="img-uploads">
                                <div class="pos-img">
                                    <img src="../../../images/image/immg4.svg" alt="img">
                                    <button class="belong">
                                        <img src="../../../images/image/cancelimg.svg" alt="plus">
                                    </button>
                                </div>
                                <div class="pos-img">
                                    <img src="../../../images/image/img2.svg" alt="img">
                                    <button class="belong">
                                        <img src="../../../images/image/cancelimg.svg" alt="plus">
                                    </button>
        
                                </div>
                                <div class="pos-img">
                                    <img src="../../../images/image/img3.svg" alt="img">
                                    <button class="belong">
                                        <img src="../../../images/image/cancelimg.svg" alt="plus">
                                    </button>
        
                                </div>
                                <div class="pos-img">
                                    <img src="../../../images/image/img4.svg" alt="img">
                                    <button class="belong">
                                        <img src="../../../images/image/cancelimg.svg" alt="plus">
                                    </button>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title">Service Video URLs</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="The name of your service giveaway">
                            <small id="emailHelp" class="form-text text-muted">Add up to 4 video URLs</small>
                            <div class="img-uploads">
                                <div class="pos-img">
                                    <img src="../../../images/image/immg4.svg" alt="img">
                                    <button class="belong">
                                        <img src="../../../images/image/cancelimg.svg" alt="plus">
                                    </button>
                                </div>
                                <div class="pos-img">
                                    <img src="../../../images/image/img2.svg" alt="img">
                                    <button class="belong">
                                        <img src="../../../images/image/cancelimg.svg" alt="plus">
                                    </button>
        
                                </div>
                                <div class="pos-img">
                                    <img src="../../../images/image/img3.svg" alt="img">
                                    <button class="belong">
                                        <img src="../../../images/image/cancelimg.svg" alt="plus">
                                    </button>
        
                                </div>
                                <div class="pos-img">
                                    <img src="../../../images/image/img4.svg" alt="img">
                                    <button class="belong">
                                        <img src="../../../images/image/cancelimg.svg" alt="plus">
                                    </button>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numberOfEmployees">Delivery Time (Days)</label>
                            <div class="input-group plus-minus">
                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class=" circle" type="button"><img src="../../../images/components/minus.svg" alt="icon"></button>
                                    <button class=" circle" type="button"><img src="../../../images/components/plus.svg" alt="icon"></button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex" style="flex-wrap: wrap;">
                            <a href="youtube-service-done.html" type="submit" class="btn btn-solid-violet" style="margin-right: 20px" >Submit Service</a>
                        </div>
                    </form>
                </div>
            </div>
       
      </div>
      
    </main>
   
  </div>

    <footer>
        <div class="contain footer">
            <div class="contain">
                <div class="top-footer">
                    <img class="influence" src="../../../images/22 1.svg" alt="fluencer">
                    <nav>
                        <a href="">Brand</a>
                        <a href="">Influencer</a>
                        <a href="">FAQ</a>
                        <a href="">Blog</a>
                        <a href="">Career</a>
                        <a href="">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <a href="#">
                            <img src="../../../images/in.svg" alt="in">
                        </a>
                        <a href="#">
                            <img src="../../../images/ins.svg" alt="twit">
                        </a>
                        <a href="#">
                            <img src="../../../images/meta.svg" alt="meta">
                        </a>
                        <a href="#">
                            <img src="../../../images/twit.svg" alt="instagram">
                        </a>
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                    <a href="../../faq-blog/term-condition.html"><span>Terms and Conditions</span></a>
                </div>
            </div>
        </div>
    </footer>

    <style>
        .filt {
            position: fixed;
            top: 60px;
        width: 1390px;
        background-color: yellow;
        height: 50px;
        z-index: 999;
        margin-right: 100px;
        }
        
        #select{
            border: none;
        }
        @keyframes slideUp {
          0% {
            opacity: 0;
            transform: translateY(70%);
          } 
          100% {
            opacity: 1;
            transform: translateY(0%);
          }
        }
        
   
    </style>

    <script>
        window.onscroll = function() {myFunction()};
        
        function myFunction() {
          if (document.documentElement.scrollTop > 60) {
            document.getElementById("filter").className = "filt";
          }
          else {
            document.getElementById("filter").className = "none";
          }
        }
    </script>

    <script>
        let multiple = document.querySelector(".multiple")
let selection = document.querySelector(".languages")

selection.onclick = function (){
    multiple.classList.toggle("actived");
    selection.classList.toggle("actived");


}

document.onclick = function(e){
    if(!multiple.contains(e.target) && !selection.contains(e.target)){
        multiple.classList.remove("actived");
        selection.classList.remove("actived");
    }
}
    </script>









    
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="../../js/index.js"></script>

    <script src="../../../js/ShowHide.js"></script>


    
    <script>
        document.querySelectorAll('.splide').forEach(carousel => new Splide( carousel, {
          perPage: 3,
          perMove: 1,
          fixedWidth: 345,
          gap: 20,
          arrows: false,
          pagination: false 
        } ).mount());
    </script>


  <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>
    <script>
        // let checkboxes = document.querySelectorAll("input[type='checkbox']");
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener("click", checkboxHandler);
            });
            function checkboxHandler() {
                if (this.checked === true) {
                    this.closest(".checkbox-group").classList.add("checked");
                } else {
                    this.closest(".checkbox-group").classList.remove("checked");
                }
            }
    </script>

    <script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("splide03");
        var btns = header.getElementsByClassName("social-list");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("active-border");
          if (current.length > 0) { 
            current[0].className = current[0].className.replace(" active-border", "");
          }
          this.className += " active-border";
          });
        }
    </script>
    <script src="../../../js/multiples.js"></script>
</body>

</html>