<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../css/main.css">
    <title>Document</title>
</head>

<body>
    <header>
        <section class="contain header-top">
            <div class="header">
                <div class="header-left">
                   <img src="../../../images/header/techfluencer.svg" alt="techfluencer">
                </div>
                <div class="header-right">
                    <button class="img-header" id="notification">
                        <img src="../../../images/q.svg" alt="vector">
                        <img class="ellipse" src="../../../images/notifcation-dotted.svg" alt="Ellipse">
                    </button>
                    <button class="header-img"><img src="../../../images/header/logo-header.svg" alt="header"></button>
                </div>
            </div>
        </section>
    </header>
    <nav class="navigation">
        <a href="../influencer-dashboard.html">
            <div class="menu-bar menu-dashboard">
                <img class="img" src="../../../images/navbar/Dashboard.svg" alt="dashboard">
            </div>
        </a>
       <a href="../custom_request/request-portal.html">
        <div class="menu-bar menu-request">
           <img class="img" src="../../../images/navbar/Request-Menu.svg" alt="request">
        </div>
       </a>
       <a href="../service/services.html">
        <div class="menu-bar menu-service  active">
            <img src="../../../images/navbar/Service-Menu.svg" alt="service">
        </div>
       </a>
       <a href="../social/youtube/social-media.html">
        <div class="menu-bar menu-channel">
            <img src="../../../images/navbar/Channel-Menu.svg" alt="channel">
        </div>
       </a>
       <a href="../orders/order.html">
       <div class="menu-bar menu-order">
        <img src="../../../images/navbar/Order-Menu.svg" alt="order">
        <div class="menu-cont-order">
        </div>
            <div class="request-counting"> 2 </div>
        
        </div>
            </a>
        </div>
      <a href="#">
        <div class="menu-bar menu-payment">
           
    </div>
      </a>
      <a href="../settings/settings.html">
        <div class="menu-bar menu-settings">
            <img src="../../../images/navbar/Settings-Menu.svg" alt="settings">
    </div>
      </a>

      <a href="#">
      <div class="menu-bar menu-logout">
            <img src="../../../images/navbar/logout.svg" alt="channel">
        </div>
    </a>
        <div class="menu-cont">

        </div>
    </nav>

    <main class="contain">

        <div class="operation-request properties video-prop">

         <div class="aside-extra">
            <div class="details">
                <div class="left-sides-detail extra-detail">
                    <div class="properties-image">
                        <div class="column-img">
                            <img src="../../../images/image/proper (2).svg" alt="proper">
                            <img src="../../../images/image/proper (3).svg" alt="proper">
                            <img src="../../../images/image/proper (4).svg" alt="proper">
                            <img src="../../../images/image/proper (5).svg" alt="proper">
                            <img src="../../../images/image/proper (6).svg" alt="proper">
                        </div>
                        <div class="main-img">
                            <img  src="../../../images/image/proper (1).svg" alt="properties">
                            <div class="video-player">
                                <img class="ellips-item" src="../../../images/image/Ellips.svg" alt="ellips">
                                <img class="polygon-item" src="../../../images/image/Polygon 2.svg" alt="polygon">
                            </div>
                        </div>

                    </div>
                    <div class="custom-request">
                        <div class="top-request">
                            <span>
                                <img src="../../../images/image/setting.svg" alt="drizzle">
                                <span>Service</span>
                            </span>
                            <div class="like-button">
                                <img src="../../../images/image/heart.svg" alt="">
                            </div>
                        </div>
                        <div class="bottom-request">
                            <h3>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </h3>
                        </div>
                    </div>

                    
            <div class="details-info details-video-info">
             

                <div class="description">
                    <h4>DESCRIPTION</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis mattis amet varius arcu libero
                        aliquam pellentesque. Tincidunt mauris, sem quam dignissim in non elementum. Orci erat amet
                        felis, egestas volutpat risus amet proin turpis. Euismod viverra pellentesque leo faucibus
                        egestas tellus dictum nibh nisi. Ut pharetra tincidunt dui gravida.
                    </p>
                </div>
                <div class="description">
                    <h4>DELIVERY TYPE</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis mattis amet varius arcu libero aliquam pellentesque. Tincidunt mauris, sem quam dignissim in non elementum. Orci erat amet felis, egestas volutpat risus amet proin turpis.
                    </p>
                </div>
                <div class="description">
                    <h4>ORDER NOTE</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis mattis amet varius arcu libero
                        aliquam pellentesque. Tincidunt mauris, sem quam dignissim in non elementum. Orci erat amet
                        felis, egestas volutpat risus amet proin turpis. Euismod viverra pellentesque leo faucibus
                        egestas tellus dictum nibh nisi. Ut pharetra tincidunt dui gravida.
                    </p>
                </div>


             
            </div>
                </div>
         
            </div>
            

            <div class="aside-order youtube-aside">

                <div class="aside-status two-aside">
                    <label>SERVICE STATUS</label>
                    <div class="pending pending-item">
                      
                       <div class="pendings-text">
                        <div class="image">
                            <img src="../../../images/green.svg" class="comment" alt="comment">
                            <div class="dots">
                                <img src="../../../images/dot.svg" class="dotted" alt="dot">
                                <img src="../../../images/dot.svg" class="dotted" alt="dot">
                                <img src="../../../images/dot.svg" class="dotted" alt="dot">
                            </div>
                            <label>Active</label>
                        </div>
                        <img src="../../../images/image/Filter.svg" alt="filter">
                       </div>
                    </div>
                </div>
    
                <div class="aside-two aside-details video-details">
                    <span class="det vid">DETAILS</span>
                    <h3>1450,00 AED</h3>
                    <div class="user-aside">
                        <div class="inf-details-item">
                            <img src="../../../images/image/youtuber.svg" alt="details">
                            <div class="item-details youtube">
                                <p class="social-youtube"><img src="../../../images/image/you.svg" alt="youtube"><span>smotraTV</span></p>
                                <span>112 M Subscribes</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="information-details">
                    
    
                        <div class="inf-details-item">
                            <img src="../../../images/image/details-influncer.svg" alt="details">
                            <div class="item-details">
                                <p>Delivery time</p>
                                <span>5 days</span>
                            </div>
                        </div>
    
                        <div class="inf-details-item">
                            <img src="../../../images/image/details (5).svg" alt="details">
                            <div class="item-details">
                                <p>Location</p>
                                <span>UEA, Spain</span>
                            </div>
                        </div>
    
                        <div class="inf-details-item">
                            <img src="../../../images/image/details7-language.svg" alt="details">
                            <div class="item-details">
                                <p>Language</p>
                                <span>English</span>
                            </div>
                        </div>
    
                        <div class="inf-details-item">
                            <img src="../../../images/image/details-folder.svg" alt="details">
                            <div class="item-details">
                                <p>Category</p>
                                <span>Web development</span>
                            </div>
                        </div>
      
    
                    </div>

                
                </div>

                <div class="service-statistics">
                    <label>SERVICE STATISTICS</label>
                            
                    <div class="statistic-item">
                        <span>Views</span>
                        <div>10</div>
                    </div>
                    <div class="statistic-item">
                        <span>Service earned</span>
                        <div>4999 AED</div>
                    </div>
                    <div class="statistic-item">
                        <span>Completed orders</span>
                        <div>32</div>
                    </div>
                    <div class="statistic-item">
                        <span>Savings</span>
                        <div>43</div>
                    </div>

                </div>
    
               </div>

         </div>

        </div>
    </main>

    <footer>
    <div class="contain footer">
            <div class="contain">
                <div class="top-footer">
                    <img class="influence" src="../../../images/22 1.svg" alt="fluencer">
                    <nav>
                        <a href="">Brand</a>
                        <a href="">Influencer</a>
                        <a href="">FAQ</a>
                        <a href="">Blog</a>
                        <a href="">Career</a>
                        <a href="">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <img src="../../../images/in.svg" alt="in">
                        <img src="../../../images/ins.svg" alt="twit">
                        <img src="../../../images/meta.svg" alt="meta">
                        <img src="../../../images/twit.svg" alt="instagram">
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                    <span>Terms and Conditions</span>
                </div>
            </div>
    </div>
    </footer>
    <script src="../js/app.js"></script>
</body>

</html>