<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../css/main.css">
    <title>Document</title>
</head>

<body>

    <header>
        <section class="contain header-top">
            <div class="header">
                <div class="header-left">
                   <img src="../../../images/header/techfluencer.svg" alt="techfluencer">
                </div>
                <div class="header-right">
                    <button class="img-header" id="notification">
                        <img src="../../../images/q.svg" alt="vector">
                        <img class="ellipse" src="../../../images/notifcation-dotted.svg" alt="Ellipse">
                    </button>
                    <button class="header-img"><img src="../../../images/header/logo-header.svg" alt="header"></button>
                </div>
            </div>
        </section>
    </header>

  <div class="container-webs">
    <nav class="navigation">
        <a href="../influencer-dashboard.html">
            <div class="menu-bar menu-dashboard">
                <img class="img" src="../../../images/navbar/Dashboard.svg" alt="dashboard">
            </div>
        </a>
       <a href="../custom_request/request-portal.html">
        <div class="menu-bar menu-request">
           <img class="img" src="../../../images/navbar/Request-Menu.svg" alt="request">
        </div>
       </a>
       <a href="../service/services.html">
        <div class="menu-bar menu-service  active">
            <img src="../../../images/navbar/Service-Menu.svg" alt="service">
        </div>
       </a>
       <a href="../social/youtube/social-media.html">
        <div class="menu-bar menu-channel">
            <img src="../../../images/navbar/Channel-Menu.svg" alt="channel">
        </div>
       </a>
       <a href="../orders/order.html">
       <div class="menu-bar menu-order">
        <img src="../../../images/navbar/Order-Menu.svg" alt="order">
        <div class="menu-cont-order">
        </div>
            <div class="request-counting"> 2 </div>
        
        </div>
            </a>
      <a href="#">
        <div class="menu-bar menu-payment">
           
    </div>
      </a>
      <a href="../settings/settings.html">
        <div class="menu-bar menu-settings">
            <img src="../../../images/navbar/Settings-Menu.svg" alt="settings">
    </div>
      </a>

      <a href="#">
      <div class="menu-bar menu-logout">
            <img src="../../../images/navbar/logout.svg" alt="channel">
        </div>
    </a>
        <div class="menu-cont">

        </div>
    </nav>

    <main class="contain">
        <div class="operation-request">
            <h1>Services</h1>         
            
            <main id="filter">
                <div class="selections">
                   <img src="../../../images/image/you.svg" alt="svg">
                       smotraTV
                       <img src="../../../images/components/dropdown.svg" alt="dropdown">
                   </div>

                   <div class="selections">
                       Status
                       <img src="../../../images/components/dropdown.svg" alt="dropdown">
                   </div>
               <div class="selections">
                   Price
                   <img src="../../../images/components/dropdown.svg" alt="dropdown">
               </div>
               <div class="languages">
                <div class="selections" id="language">
                    Languages
                    <img src="../../../images/components/dropdown.svg" alt="dropdown">
                
                    <div class="multiple" >
                        <div class="search-item-multiple">
                            <img src="../../../images/header/search-item-multiple.svg" alt="search">
                            <input type="text" >
                        </div>
                        <div class="multiple-searching">
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Portugal</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Reino Unido</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Estonia</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Eslovenia</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Kenia</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Marruecos</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Swazilandia</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Burkina Faso</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Portugal</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Portugal</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Portugal</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Portugal</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Portugal</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Portugal</span>
                                </div>
                                <label>12</label>
                            </div>
    
                            <div class="search-item">
                                <div class="checking">
                                    <input type="checkbox">
                                    <span>Portugal</span>
                                </div>
                                <label>12</label>
                            </div>
                        </div>
                        <div class="btns-search">
                            <button class="clear">Clear</button>
                            <button id="apply">Apply</button>
                        </div>
                    </div>
                </div>
                
               </div>
               <div class="selections">
                   Locations
                   <img src="../../../images/components/dropdown.svg" alt="dropdown">
               </div>
               <div class="selections">
                   Delivery time
                   <img src="../../../images/components/dropdown.svg" alt="dropdown">
               </div>



               <div class="sort">
                   <div>
                       Sort by: 
                   </div>
                   <select name="select" id="select">
                       <option value="Bestsellers">Bestsellers</option>
                   </select>
               </div>                
           </main>


            <div class="carousel">              
                <div class="grid-carousel">

                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/ser1 (1).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                               <div class="three-dots" id="three-dots">
                               <button> <img src="../../../images/components/Dots.svg" alt="dots"></button>
                              
                                <div class="three-dots-item" id="three-dots-item">
                                    <div class="dots-details">
                                        <button>View details</button>
                                    </div>
                                    <div class="dots-details dots-active">
                                        <button>Edit</button>
                                    </div>
                                    <div class="dots-details">
                                        <button>Enable</button>
                                    </div>
                                    <div class="dots-details">
                                        <button>Delete</button>
                                    </div>
                                </div>
                            </div>
                              

                            </div>

                           
                            <div class="three-dots-item-none">

                            </div>
                            

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>
                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/ser1 (4).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                   <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>
                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/ser1 (3).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                   </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>
                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/ser1 (2).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                   </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>


                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/Rec1.svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>


                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/r1 (2).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>
                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/r1 (3).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>
                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/r1 (7).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>

                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/serv1 (1).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>

                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/headp2.svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>

                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/serv1 (3).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>

                    <div class="boxes">
                        <div class="box-img">
                            <img src="../../../images/serv1 (2).svg" alt="robot">
                           
                        </div>
                        <div class="all-info">

                            <div class="user-services-two">
                                <div class="pending">
                                    <img src="../../../images/components/green-circle.svg" alt="green">
                                    <span>In progress</span>
                                </div>
                                <button class="three-dots">
                                    <img src="../../../images/components/Dots.svg" alt="dots">
                                </button>
                               
                            </div>

                            <div class="data">
                              
                                <div class="text-order">Lorem ipsum dolor sit amet, consectetur adispiscing elit. Prease...
                                </div>
                                <div class="channel">
                                    <span class="social">Channel:</span>
                                    <img src="../../../images/Youtub.svg" alt="youtube">
                                    <span>smotraTV</span>
                                </div>
                                <div class="price">2300,00 AED</div>

                                <div class="condition">
                                    <div class="left-con">
                                        <img src="../../../images/image/eye.svg" alt="eye">
                                        834 views
                                    </div>
                                    <div class="right-con">
                                        <img src="../../../images/image/basket.svg" alt="basket">
                                        45 purchases
                                    </div>
                                </div>

                              
                            </div>
                        </div>

                        
                    </div>


                </div>

             
            </div>

        </div>
    </main>
  </div>

    <footer>
        <div class="contain footer">
            <div class="contain">
                <div class="top-footer">
                    <img class="influence" src="../../../images/22 1.svg" alt="fluencer">
                    <nav>
                        <a href="">Brand</a>
                        <a href="">Influencer</a>
                        <a href="">FAQ</a>
                        <a href="">Blog</a>
                        <a href="">Career</a>
                        <a href="">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <img src="../../../images/in.svg" alt="in">
                        <img src="../../../images/ins.svg" alt="twit">
                        <img src="../../../images/meta.svg" alt="meta">
                        <img src="../../../images/twit.svg" alt="instagram">
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                    <span>Terms and Conditions</span>
                </div>
            </div>
        </div>
    </footer>

    <style>
        .filt {
            position: fixed;
            top: 60px;
        width: 1390px;
        background-color: yellow;
        height: 50px;
        z-index: 999;
        margin-right: 100px;
        }
        
        #select{
            border: none;
        }
        @keyframes slideUp {
          0% {
            opacity: 0;
            transform: translateY(70%);
          } 
          100% {
            opacity: 1;
            transform: translateY(0%);
          }
        }
        
   
    </style>

    <script>
        window.onscroll = function() {myFunction()};
        
        function myFunction() {
          if (document.documentElement.scrollTop > 60) {
            document.getElementById("filter").className = "filt";
          }
          else {
            document.getElementById("filter").className = "none";
          }
        }
    </script>

    <script>
        let multiple = document.querySelector(".multiple")
let selection = document.querySelector(".languages")

selection.onclick = function (){
    multiple.classList.toggle("actived");
    selection.classList.toggle("actived");


}

document.onclick = function(e){
    if(!multiple.contains(e.target) && !selection.contains(e.target)){
        multiple.classList.remove("actived");
        selection.classList.remove("actived");
    }
}
    </script>

<script src="../../../js/ShowHide.js"></script>
</body>

</html>