<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/main.css">   
</head>

<body style="background-color: #ffffff;" class="bloging faqs">
    <header class="landing-background">
        <div class="container-landing container-landing-two">
         <section class="contain ">
             <div class="header">
                 <div class="header-left">
                  <button> <img src="../../../images/header/techfluencer.io.svg" alt="logo"></button>
                 </div>
                 <div class="header-right login-btns">
                    <button class="login-btn">Login</button>
                 </div>
             </div>
         </section>
        </div>
     </header>
    <section class="section-bg">
        <div class="faq">
            <div class="faq-banner">
                <div class="container container-landing">
                    <h1>Knowledge Base</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, nobis, earum. Quisquam alias illo esse possimus id accusantium</p>
                </div>
            </div>
            <div class="faq-seach">
                <div class="container " style="max-width: 1260px;">
                    <form class="justify-content-between container-landing  faq-flex" >
                        <div class="has-search">
                            <span class="form-control-feedback"><img src="../../../images/blog/search-icon.svg" alt="search-icon"></span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button class="btn btn-search faq-btn">Search</button>
                    </form>
                </div>
            </div>
            <div class="container container-landing " >
                <div class="row container-landing">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="faq-left">
                            <div class="faq-link">
                                <ul>
                                    
                                    <li><a href="../faq.html" class="btn
                                 ">Influencer Usage</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-one.html" class="btn  
                                ">Brand Usage</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-two.html" class="btn active
                                ">Service Execution</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-three.html" class="btn
                                ">P score</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-four.html" class="btn
                                ">Payments</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-five.html" class="btn
                                ">Privacy</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-six.html" class="btn
                                ">Subscription</a>
                                    </li>
                                
                                    <li><a href="./faq-lists.seven.html" class="btn
                                ">Influencer Marketing</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-eight.html" class="btn
                                ">Customer Support</a>
                                    </li>
                                
                            </ul>
                            </div>
                            <div class="faq-tag">
                                <ul class="d-flex" style="flex-wrap: wrap; margin-top: 60px;">
                                    
                                        <li><a href="/faq/list?tag=8">Influencer Usage</a></li>
                                    
                                        <li><a href="/faq/list?tag=11">Brand Usage</a></li>
                                    
                                        <li><a href="/faq/list?tag=5">Service Execution</a></li>
                                    
                                        <li><a href="/faq/list?tag=3">P score</a></li>
                                    
                                        <li><a href="/faq/list?tag=13">Payments</a></li>
                                    
                                        <li><a href="/faq/list?tag=9">Privacy</a></li>
                                    
                                        <li><a href="/faq/list?tag=1">Subscription</a></li>
                                    
                                        <li><a href="/faq/list?tag=15">Influencer Marketing</a></li>
                                    
                                        <li><a href="/faq/list?tag=19">Customer Support</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="accordion faq-list-one" id="faq">
                            
                       
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead1">
                                    <a href="#faq1" class="btn btn-header-link "
                                       data-bs-toggle="collapse"
                                       aria-expanded="true"
                                       aria-controls="faq1">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>What is a private delivery?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq1" class="collapse show">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-size: 12pt; color: #5a5a5a; font-family: helvetica, arial, sans-serif; font-variant-ligatures: normal; orphans: 2; white-space: pre-wrap; widows: 2; text-decoration-thickness: initial;">A private delivery is when an influencer shares their work with a brand before publishing it on social media, to receive approval from the brand. This can include a video for an Instagram story, a post for Facebook, or any other format as specified by the brand's request.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead2">
                                    <a href="#faq2" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq2">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>What is a public delivery?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq2" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-size: 12pt; color: #5a5a5a; font-family: helvetica, arial, sans-serif; font-variant-ligatures: normal; orphans: 2; white-space: pre-wrap; widows: 2; text-decoration-thickness: initial;">A public delivery is the final submission of an influencer's work, which is shared on social media. This can include a video for an Instagram story, a post for Facebook, or any other format as specified by the brand's request.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
                                         <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead3">
                                    <a href="#faq3" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq3">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>What is the process for executing a campaign on techfluencer&#x27;s platform?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq3" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p style="text-align: left;"><span style="font-size: 16px; color: #374151; font-family: helvetica, arial, sans-serif; font-variant-ligatures: normal; orphans: 2; white-space: pre-wrap; widows: 2; text-decoration-thickness: initial;">The execution of a campaign involves a series of steps, starting with the brand purchasing a service. The influencer then submits a private delivery for the brand's approval. After the brand approves the private delivery, the influencer submits the social links for the public delivery.</span></p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead4">
                                    <a href="#faq4" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq4">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>How does the brand approve or reject a private delivery?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq4" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">The brand has the option to approve or reject a private delivery through the techfluencer platform. Once the brand has reviewed the private delivery, they will be able to provide feedback and make revisions as needed.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead5">
                                    <a href="#faq5" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq5">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>Can brands reject a private delivery?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq5" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Yes, brands have the option to reject a private delivery from an influencer if it does not meet their needs or expectations. If a private delivery is rejected, the influencer will be notified and given the opportunity to submit a new one. Brands are also expected to provide feedback and explain the reason for the rejection to the influencer.</span></p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Subscription</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead6">
                                    <a href="#faq6" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq6">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>Can brands reject a public delivery?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq6" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p>test</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead7">
                                    <a href="#faq7" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq7">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>Why some custom orders receive few applicants sometimes?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq7" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">If a brand is on the free plan, they will be limited in the number of applicants they can receive per custom order. However, if they are on the premium plan, their custom order will have increased visibility on the influencer marketplace.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead8">
                                    <a href="#faq8" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq8">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>What happens if brand rejects a private delivery for 3 times?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq8" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">If a brand rejects a private delivery 3 times, the influencer will lose points, lose the project, and the brand will get a refund with a 5% charge.</span></p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead9">
                                    <a href="#faq9" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq9">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>What happens if a brand rejects a private delivery?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq9" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">If a brand rejects a private delivery, the influencer will have the opportunity to make revisions and resubmit it for approval. If a private delivery is rejected 3 times, the influencer will lose points, lose the project, and the brand will receive a refund with a 5% charge.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead10">
                                    <a href="#faq10" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq10">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>What happens if the brand doesn&#x27;t approve the private delivery within 5 business days?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq10" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">If the brand doesn't approve or reject the private delivery within 5 business days, the delivery will be considered accepted and influecner will be notified to proceed to the next step, which is the public delivery. </span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead11">
                                    <a href="#faq11" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq11">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>How does the influencer know if their private delivery has been approved or rejected?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq11" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">The influencer will receive a notification on the techfluencer platform when the brand has approved or rejected the private delivery.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#P score</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
   <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead12">
                                    <a href="#faq12" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq12">
                                        <div class="item">
                                             <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>Does Techfluencer offer any analytics or reports for influencers?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq12" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">Currently, influencers are asked to provide campagins analytics themselves to brands they collaborate with.</span></p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Service Execution</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>

<ul class="d-flex" style="flex-wrap: wrap;">

    <li>
        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                src="../../../../images/blog/facebook.svg" alt="fb"></a></li>
    <li>
        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                src="/static/images/blog/twitter.svg" alt="tw"></a></li>
    <li>
        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                src="/static/images/blog/linkedIn.svg" alt="linkedin"></a></li>
        <li onclick="copyText()"><a><img src="/static/images/blog/copy.svg" alt="copy"
                         style="margin-right: 10px;"></a>
        Copy link
    </li>
</ul>


<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        


                        </div>
                    </div>
            </div>
        </div>
    </section>

    <footer class="white-footer">
        <div class="contain footer container-landing ">
            <div class="contain">
                <div class="top-footer">
                  <a href="#">  <img class="influence" src="../../../../images/footer/techfluencer.io-footer.svg" alt="fluencer"></a>
                    <nav>
                        <a href="../../static/brand-plan.html">Brand</a>
                        <a href="../../static/landing-influencer.html">Influencer</a>
                        <a href="../faq.html">FAQ</a>
                        <a href="../blog.html">Blog</a>
                        <a href="../career.html">Career</a>
                        <a href="../contact.html">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <a href="#">
                            <img src="../../../../images/footer/linkedin-333.svg" alt="in">
                        </a>
                        <a href="#">
                            <img src="../../../../images/footer/instagram-333.svg" alt="instagram">
                        </a>
                        <a href="#">
                            <img src="../../../../images/footer/facebook-333.svg" alt="meta">
                        </a>
                        <a href="#">
                            <img src="../../../../images/footer/twitter-333.svg" alt="twitter">
                        </a>
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                    <a href="../term-condition.html"><span>Terms and Conditions</span></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../js/index.js"></script>

</html>