<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/main.css">   
</head>

<body style="background-color: #ffffff;" class="bloging faqs">
    <header class="landing-background">
        <div class="container-landing container-landing-two">
         <section class="contain ">
             <div class="header">
                 <div class="header-left">
                  <button> <img src="../../../images/header/techfluencer.io.svg" alt="logo"></button>
                 </div>
                 <div class="header-right login-btns">
                    <button class="login-btn">Login</button>
                 </div>
             </div>
         </section>
        </div>
     </header>
    <section class="section-bg">
        <div class="faq">
            <div class="faq-banner">
                <div class="container container-landing">
                    <h1>Knowledge Base</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, nobis, earum. Quisquam alias illo esse possimus id accusantium</p>
                </div>
            </div>
            <div class="faq-seach">
                <div class="container " style="max-width: 1260px;">
                    <form class="justify-content-between container-landing  faq-flex" >
                        <div class="has-search">
                            <span class="form-control-feedback"><img src="../../../images/blog/search-icon.svg" alt="search-icon"></span>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button class="btn btn-search faq-btn">Search</button>
                    </form>
                </div>
            </div>
            <div class="container container-landing " >
                <div class="row container-landing">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="faq-left">
                            <div class="faq-link">
                                <ul>
                                    
                                    <li><a href="../faq.html" class="btn
                                 ">Influencer Usage</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-one.html" class="btn  
                                ">Brand Usage</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-two.html" class="btn 
                                ">Service Execution</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-three.html" class="btn active
                                ">P score</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-four.html" class="btn
                                ">Payments</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-five.html" class="btn
                                ">Privacy</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-six.html" class="btn
                                ">Subscription</a>
                                    </li>
                                
                                    <li><a href="./faq-lists.seven.html" class="btn
                                ">Influencer Marketing</a>
                                    </li>
                                
                                    <li><a href="./faq-lists-eight.html" class="btn
                                ">Customer Support</a>
                                    </li>
                                
                            </ul>
                            </div>
                            <div class="faq-tag">
                                <ul class="d-flex" style="flex-wrap: wrap; margin-top: 60px;">
                                    
                                        <li><a href="/faq/list?tag=8">Influencer Usage</a></li>
                                    
                                        <li><a href="/faq/list?tag=11">Brand Usage</a></li>
                                    
                                        <li><a href="/faq/list?tag=5">Service Execution</a></li>
                                    
                                        <li><a href="/faq/list?tag=3">P score</a></li>
                                    
                                        <li><a href="/faq/list?tag=13">Payments</a></li>
                                    
                                        <li><a href="/faq/list?tag=9">Privacy</a></li>
                                    
                                        <li><a href="/faq/list?tag=1">Subscription</a></li>
                                    
                                        <li><a href="/faq/list?tag=15">Influencer Marketing</a></li>
                                    
                                        <li><a href="/faq/list?tag=19">Customer Support</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>



                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="accordion faq-list-one" id="faq">
                            
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead1">
                                    <a href="#faq1" class="btn btn-header-link "
                                       data-bs-toggle="collapse"
                                       aria-expanded="true"
                                       aria-controls="faq1">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>Why did my P score drop?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq1" class="collapse show">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;"><strong>P score drops by the following measures: </strong></span></p>
<p>&nbsp;</p>
<p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">Every time you receive a 2 star rating, you lose <strong>15 points </strong></span></p>
<p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">Every time you receive a 1 star rating, you lose <strong>25 points </strong></span></p>
<p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">Every time you cancel a service in progress, you lose <strong>100 points </strong></span></p>
<p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">Every time you cancel a custom order in progress, you lose <strong>100 points </strong></span></p>
<p>&nbsp;</p>
<p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">You can track your Performance score from the 'P score portal'</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Subscription</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead2">
                                    <a href="#faq2" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq2">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>How can I increase my P score?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq2" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;"><big>It's highly recommended that you visit 'P score portal' to learn more on how to increase your P score. A quick answer is the following: </big></span></p>
<p>&nbsp;</p>
<ul>
<li><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">For every quiz assessment you do, you receive <strong>35 points&nbsp;</strong></span></li>
<li><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">For every service you create, you get <strong>25 points&nbsp;</strong></span></li>
<li><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">Every time you sell a service, you receive <strong>50 points&nbsp;</strong></span></li>
<li><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">Every time you win a custom order, you receive <strong>100 points&nbsp;</strong></span></li>
<li><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">When you invite another influencer on techfluencer, you receive<strong> 200 points </strong></span></li>
<li><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">Every time you receive a 5 star rating, you receive <strong>25 points </strong></span></li>
<li><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">Every time you receive a 4 star rating, you receive <strong>15 points </strong></span></li>
<li><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">Every time you receive a 3 star rating, you receive <strong>5 points</strong></span></li>
</ul>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#Subscription</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead3">
                                    <a href="#faq3" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq3">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>How can brands know if an influencer is a good fit for their campaign?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq3" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">They can view the influencer's profile, including their P score, niche, audience demographics, and past campaigns, to determine if they are a good fit for their campaign. They can also communicate directly with the influencer to discuss their campaign goals and ensure that they are a good fit.</span></p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#P score</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead4">
                                    <a href="#faq4" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq4">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>How often is the P score updated?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq4" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">The P score is updated on a regular basis, typically any action that causes it to decrease or increase </span></p>
<p>&nbsp;</p>
<p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">We highly advise you visit 'P score' in your dashboard to keep track of your Performance score.</span></p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#P score</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead5">
                                    <a href="#faq5" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq5">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>Is it possible to collaborate with international influencers on Techfluencer&#x27;s platform?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq5" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">Yes, it is possible to collaborate with international influencers on techfluencer's platform.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#P score</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead6">
                                    <a href="#faq6" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq6">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>How do I collaborate with an influencer on techfluencer?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq6" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #5a5a5a;">To collaborate with an influencer on techfluencer, you can either purchase a service from them on the marketplace or post a custom request for them to apply to. Once you have selected an influencer, you can communicate with them directly through the platform to finalize the details of your collaboration.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#P score</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead7">
                                    <a href="#faq7" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq7">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>Can I use techfluencer&#x27;s platform for multiple brands or accounts?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq7" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">Yes, you can use techfluencer's platform for multiple brands, proof of brand ownership might be required at some occasions.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#P score</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead8">
                                    <a href="#faq8" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq8">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>Can I track the progress of my custom orders on techfluencer&#x27;s platform?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq8" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">Yes, you can track the progress of your custom orders on techfluencer's platform by going to the "Custom Orders" section of your account and checking the status of your orders.</span></p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#P score</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead9">
                                    <a href="#faq9" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq9">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>What is the P score and why is it important for influencers on techfluencer&#x27;s platform?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq9" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">P score is a measurement tool used to evaluate the performance of influencers on techfluencer's platform. It is calculated using a variety of metrics, including quiz assessments, service creation, orders delivered, custom order wins, and ratings. A high P score is important for influencers to show how reliable and effecient they are, the higher the better.</span></p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#P score</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="faq-card">
                                <div class="faq-card-header" id="faqhead10">
                                    <a href="#faq10" class="btn btn-header-link collapsed"
                                       data-bs-toggle="collapse"
                                       aria-expanded="false"
                                       aria-controls="faq10">
                                        <div class="item">
                                          <img src="../../../images/blog/faq-icon.svg" alt="icon">
                                            <h3>How do I earn points towards my P score?</h3>
                                        </div>
                                    </a>
                                </div>
                                <div id="faq10" class="collapse ">
                                    <div class="faq-card-body">
                                        <p class="text"><p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">Points can be earned through quiz assessments (35 points), creating services (25 points), selling services (50 points), winning custom orders (100 points), inviting other influencers to the platform (200 points), and receiving high ratings (25 points for 5 star, 15 points for 4 star, 5 points for 3 star).</span></p>
<p>&nbsp;</p>
<p><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; text-align: center; white-space: pre-wrap; background-color: #ffffff; color: #5a5a5a;">Please visit P score in your dashboard to get a precise report of your performance and possible ways to enhance it.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p></p>
                                    </div>
                                    <div class="faq-tag">
                                        <p>Tags:</p>
                                        <ul>
                                            
                                                <li>#P score</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="faq-share">
                                        
<p>share:</p>
  <ul class="d-flex faqs-icons" style="flex-wrap: wrap;">
                                        
                                        <li>
                                        <a href="javascript:void(window.open('https://www.facebook.com/sharer.php?u=' + `${encodeURIComponent(document.location)}&amp;t=${encodeURIComponent(document.title)}&amp;hashtag=${encodeURIComponent('#Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/facebook.svg" alt="fb"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://twitter.com/share?url=' + `${encodeURIComponent(document.location)}&amp;text=${encodeURIComponent(document.title)}&amp;via=techfluencer&amp;hashtags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/twitter.svg" alt="tw"></a></li>
                                        <li>
                                        <a href="javascript:void(window.open('https://www.linkedin.com/shareArticle?url=' + `${encodeURIComponent(document.location)}&amp;title=${encodeURIComponent(document.title)}&amp;tags=${encodeURIComponent('Techfluencer')}`,'sharer','toolbar=0,status=0,width=626,height=436'))"><img
                                        src="../../../images/blog/linkedIn.svg" alt="linkedin"></a></li>
                                        <li onclick="copyText()"><a><img src="../../../images/blog/copy.svg" alt="copy"
                                                 style="margin-right: 10px;"></a>
                                        Copy link
                                        </li>
                                        </ul>



<script>
function copyText() {
    text = window.location.href
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
}
</script>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
            </div>
        </div>
    </section>

    <footer class="white-footer">
        <div class="contain footer container-landing ">
            <div class="contain">
                <div class="top-footer">
                  <a href="#">  <img class="influence" src="../../../../images/footer/techfluencer.io-footer.svg" alt="fluencer"></a>
                    <nav>
                        <a href="#">Brand</a>
                        <a href="#">Influencer</a>
                        <a href="#">FAQ</a>
                        <a href="#">Blog</a>
                        <a href="#">Career</a>
                        <a href="#">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <a href="#">
                            <img src="../../../../images/footer/linkedin-333.svg" alt="in">
                        </a>
                        <a href="#">
                            <img src="../../../../images/footer/instagram-333.svg" alt="instagram">
                        </a>
                        <a href="#">
                            <img src="../../../../images/footer/facebook-333.svg" alt="meta">
                        </a>
                        <a href="#">
                            <img src="../../../../images/footer/twitter-333.svg" alt="twitter">
                        </a>
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                    <a href="#"><span>Terms and Conditions</span></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../js/index.js"></script>

</html>