
/**************************/
@media(max-width: 1300px){

.service-report .box-3{
/*	grid-column: 3;*/
  	grid-row: initial;
}
	.service-report-card{
		grid-template-columns: repeat(2, 1fr);
	}

}
@media (max-width: 767.98px) {
	.service-report-card .item-table{
		grid-column: auto;
	}
	.service-report-card{
		grid-template-columns: repeat(1, 1fr);
	}
	.service-report .box-2{
		/*	grid-column: 2;*/
		  	grid-row: initial;
		}
}


.active-border .account-info-service{
    height: 397px;
    width: 400px;
}

.account-info-service{
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 12px;
}

.account-info-service h2.title{
	font-weight: 500;
	font-size: 16px;
	line-height: 15px;
	color: #212121;
	margin-bottom: 5px;
}
.account-info-service h3.sub-title{
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #212121;
}
.account-info-service h2.title svg{
	margin-left: 6px;
}
.account-info-service p.description-service{
	font-weight: normal;
	font-size: 14px;
	line-height: 200%;
	color: #757575;
	display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
img.account-img{
	width: 50px;
	height: 50px;
	margin-right: 15px;
}
.account-head{
	display: flex;
	margin-bottom: 15px;
	align-items: center;
}
.account-stats{
    width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.account-stats .item {
    border-right: 1px solid #0000000D;
    padding: 0 10px 0 0;
    margin-right: 11px;
    margin-bottom: 13px;
}
.account-stats .item:last-child{
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}
.account-stats h3{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #212121;
	margin-bottom: 2px;
}
.account-stats p{
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #757575;
}
.account-status{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
/********social-media-playlist*******/

/******************/

.active-border  .box-body{
    /* max-width: 600px; */
    
    display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	align-items: flex-end;
    border: 6px solid #FFA674;
    border-radius: 18px;
}


.social-media-service .box-body{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	align-items: flex-end;
}
.social-media-service .service-body{
	max-width: 1000px;
	display: flex;
}
.social-media-service .service-body img{
	width: 90px;
	margin-right: 15px;
	max-height: 70px;
}
.social-media-service .service-info h2{
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #212121;
	margin-bottom: 10px;
}
.social-media-service .service-info p{
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #757575;
}
.social-media-service .service-stats{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.social-media-service .service-stats h3{
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #212121;
	margin-right: 30px;
}
.social-media-service .service-stats ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.social-media-service .service-stats li{
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #757575;
	margin-right: 20px;
}
.social-media-service .service-stats li img{
	margin-right: 3px;
}
/******************/
.social-media-choose ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.social-media-choose li{
	padding: 0 20px;
	height: 40px;
	margin-bottom: 10px;
}
.social-media-choose a{
	padding-bottom: 10px;
	width: 30px;
	height: 40px;
	border-bottom: 2px solid transparent;
    background-repeat: no-repeat;
}
.social-media-choose a.active{
	border-bottom: 2px solid #6A9586;
}

.social-media-add h5{
	font-weight: bold;
	font-size: 20px;
	line-height: 18px;
	color: #373E56;
	margin-bottom: 40px;
}


/******************/
@media(max-width: 1300px){
	.account-status{
		width: 100%;
	}
}
@media(max-width: 767.98px){
	.account-info{
		flex-wrap: wrap;
	}

	.youtube .social-media-post-detail{
		height: 475px;
	}
}
@media (max-width: 575.98px) {
	.social-media-service .service-body{
		display: block;
	}
	.social-media-service .service-body img{
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.social-media-service .service-stats h3,
	.social-media-service .service-stats li{
		margin-bottom: 5px;
	}
	.youtube .social-media-post-detail{
		height: 295px;
	}
}

.nav-sub{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  .d-flex{
    display: flex;
    /* justify-content: space-between; */
  }

  .status-pending-two{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 8px;
    background-color: #fff;
    border-radius: 6px;
    margin-left: 10px;
  }



/**********************************/

.service-box{
    padding: 20px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 12px;
}

.box-body{
    max-width: 1239px;
}

.box-body .violet{
    max-width: 500px;
    background-color: #fff;
}

form{
    max-width: 500px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
  }
  form label {
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      color: #373E56;
      margin-bottom: 10px;
  }
  .form-control{
    background: #F5F5F5;
    border-radius: 6px;
    font-size: 16px;
    line-height: 18px;
    color: #222723;
    padding: 11px 15px; 
    border: 1px solid transparent;
  }
  .input-group .btn.dropdown-toggle{
    background-color: #F5F5F5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px; 
  }
  .form-control:focus{
    box-shadow: 0 0 0 0.25rem #F0F9F6;
    border: 1px solid #6A9586;
  }
  .violet .form-control:focus{
    box-shadow: 0 0 0 0.25rem #F6F7FC;
    border: 1px solid #707FDA;
  }
  .form-check-input[type=checkbox]{
    border-radius: 4px;
  }
  form .form-inline{
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 1fr 1fr;
  }
  .form-check-input{
    margin-top: 2px;
    border: 2px solid #C7CBE0;
    height: 20px;
    width: 20px;
    margin-right: 12px;
   /* margin-bottom: 20px;*/
  }
  .form-text.text-muted{
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    color: #99A29C;
  }
  .form-check{
    margin-bottom: 20px;
  }
  .form-check-inline{
    display: block;
    margin: 0;
  }
  .form-check-inline .form-check-input{
    border: 1px solid #B1CDBA;
  }
  .violet .form-check-inline .form-check-input{
    border: 1px solid #C7CBE0;
  }
  .form-check-inline .form-check-input:checked{
    background-color: #6A9586!important;
  }
  .violet .form-check-inline .form-check-input:checked{
    background-color: #707FDA!important;
  }
  .form-check-input:focus {   
      box-shadow: 0 0 0 0.25rem rgb(131 169 153 / 25%);
  }
  .form-check-label{
    display: flex;
    font-size: 14px;
    line-height: 17px;
    color: #222723;
  }
  .form-check-label img{
    max-height: 20px;
  }
  .form-check-label .label-img img{
    margin-left: 10px;
  }
  .input-group .input-group-append,
  .input-group .input-group-prepend{
      background: #F5F5F5;
      border-radius: 6px;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
  }
  .input-group-text{
    background: transparent;
    border: none;
    height: 100%;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #757575;
  }
  .input-group .input-group-append .btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #6A9586;
    height: 100%;
  }
  .violet .input-group .input-group-append .btn{
    color: #4261CC;
  }
  .input-group .dropdown-menu.tel{
    width: 350px;
    overflow: auto;
    max-height: 350px;
  }
  .input-group .dropdown-menu.tel li{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  } 
  .input-group .dropdown-menu.tel p{
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      color: #212121;
  }
  .input-group .dropdown-menu.tel span{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    letter-spacing: 0.1em;
    margin-right: 5px;
    text-transform: uppercase;
  }

  .d-flex .circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .plus-minus{
    max-width: 150px;
  }

  .btn-solid-violet{
    background-color: #707FDA;
    color: #fff;
  }

  .wait-alert{
    position: absolute;
    bottom: 40px;
    background-color: #F5F5F5;
    width: 88%;
    height: 160px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    padding: 20px;
  }

  .wait-alert h4{
    font-size: 16px;
  }

  .wait-alert label{
    color: #757575;
    font-size: 14px;
  }

  .account-pending{
    background-color: #4261CC;
  }