

.operation h1{
    font-family: Roboto;
    font-weight: 700;
    line-height: 42px;
    padding-bottom: 30px;
}

.boxes {
    max-width: 298.5px;
    height: 368px;
    background-color: #fff;
    border-radius: 12px;
}

.boxes .user-services {
    height: 40px;
    display: flex;
    justify-content: center;
}

.boxes .text-order {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #212121;
    font-style: normal;

}



.boxes .all-info {
    width: 294px;
    padding: 16px 16px 16px 16px;
    background-color: #fff;
    border-radius: 8px;
}

.channel .social {
    font-size: 14px;
    color: #757575;
    font-weight: 400;
}

.channel span {
    font-size: 15px;
    font-weight: 400;
}

.boxes .price {
    font-weight: 600;
    font-size: 20px;
}

.boxes .data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
}

.boxes .condition {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #9397B2;
    padding: 15px 0;
    margin-top: 5px;
    border-top: 1px solid #E9EBF3;
}

.boxes .condition .right-con {
    display: flex;
    align-items: center;
    gap: 10px;
}


.boxes .box-img img{
    width: 100%;
}

.sort {
    display: flex;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    top: 20px;
    right: 0;
}

.sort #select {
    border: none;

}


.channel .social{
    font-size: 14px;
    color: #757575;
}

#filter #select{
    border: none;
}
.youtube-icon  #select {
    border: none;
    padding: 0;
    font-weight: 500;
}

.youtube-icon img {
    width: 14px;
    height: 11px;
}

.youtube-icon {
    border: 1px solid #99A29C;
    border-radius: 6px;
    padding: 0px 2.5px 0px 5px;
}

