<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../css/main.css">
    <title>Document</title>
</head>

<body>

    <header>
        <section class="contain header-top">
            <div class="header">
                <div class="header-left">
                    <a href="#"> <img src="../../../images/header/techfluencer.svg" alt="logo"></a>
                </div>
                <div class="header-right">
                    <button class="img-header" id="notifcation">
                        <img src="../../../images/q.svg" alt="vector">
                        <img class="ellipse" src="../../../images/notifcation-dotted.svg" alt="Ellipse">
                    </button>
                    <a href="#" class="header-img"><img src="../../../images/header/logo-header.svg" alt="header"></a>
                </div>
            
                
            </div>
            <div class="notifcation-message">
                <div class="notifications-items" id="item-notifcate">
                    <div class="top-notification">
                      <button id="notifcation-cancel">  <img src="../../../images/image/cancelimg.svg" alt="cancel" ></button>
                        <h3>Notifications</h3>
                    </div>
                    <div class="note-contents">
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                            <div class="note-button">
                                <button class="btns gray">Action 2</button>
                                <button class="btns greens">Action 1</button>
                            </div>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                            <div class="note-button">
                                <button class="btns gray">Action 2</button>
                                <button class="btns greens">Action 1</button>
                            </div>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                        <div class="bottom-notification">
                            <div class="content-notification">
                                <label>Sat, 18 Jul / 12:34</label>
                            </div>
                            <span class="note">Lorem ipsum dolor sit amet consectetur</span>
                            <span>
                                Massa lacus nisi varius hendrerit iaculis mattis. Urna pellentesque consectetur phasellus imperdiet.
                                Placerat tincidunt proin faucibus lacinia. Tristique urna nec blandit in potenti posuere.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="linear-gradient">
                </div>
            </div>
        </section>

    </header>


 
   <div class="container-webs">
    <nav class="navigation">
        <a href="../influencer-dashboard.html">
            <div class="menu-bar menu-dashboard">
                <img class="img" src="../../../images/navbar/Dashboard.svg" alt="dashboard">
            </div>
        </a>
       <a href="../custom_request/request-portal.html">
        <div class="menu-bar menu-request">
           <img class="img" src="../../../images/navbar/Request-Menu.svg" alt="request">
        </div>
       </a>
       <a href="../service/services.html">
        <div class="menu-bar menu-service  ">
            <img src="../../../images/navbar/Service-Menu.svg" alt="service">
        </div>
       </a>
       <a href="../social/youtube/social-media.html">
        <div class="menu-bar menu-channel">
            <img src="../../../images/navbar/Channel-Menu.svg" alt="channel">
        </div>
       </a>
       <a href="#">
       <div class="menu-bar menu-order active">
        <img src="../../../images/navbar/Order-Menu.svg" alt="order">
        <div class="menu-cont-order">
        </div>
            <div class="request-counting"> 2 </div>
        
        </div>
            </a>
      
      <a href="#">
        <div class="menu-bar menu-payment">
           
    </div>
      </a>
      <a href="../settings/settings.html">
        <div class="menu-bar menu-settings">
            <img src="../../../images/navbar/Settings-Menu.svg" alt="settings">
    </div>
      </a>

      <a href="#">
      <div class="menu-bar menu-logout">
            <img src="../../../images/navbar/logout.svg" alt="channel">
        </div>
    </a>
        <div class="menu-cont">

        </div>
    </nav>
    
    
    <main class="contain">
        <div class="operation-request">

           <div class="order-request-info">
            <button class="drop">
                <img src="../../../images/image/drop-left.svg" alt="drop">
            </button>
            <h3>Orders #2453</h3>
            <label>Sat, 18 Jul</label>
                        <label class="order-type">
                        Order type:
                            <div>
                                <img src="../../../images/image/drizzlegray.svg" alt="drizzle">
                                <div>Custom requests</div>
                            </div>
                        </label>

           </div>
            
           <div class="order-content">
            <div class="left-order-two">
                <div class="order-description">
                    <div class="left-bottom-side order-left">
                       <div class="service-img">
                        <img src="../../../images/image/computer.svg" alt="computer">
                       </div>
                    <div class="service-name">
                        <span>Service name</span>
                        <label>Lorem ipsum dolor sit amet consectetur. Scelerisque feugiat justo am...</label>
                    </div>
                    </div>
        
                    <button class="expand">
                        <label>Expand Descriptions</label>
                        <img src="../../../images/image/drop-down.svg" alt="drop-down">
                    </button>
                   </div>
        
                   <div class="order-upload">
                        <h4>upload Private submission</h4>
                    <div class="youtube-upload">
                        <div class="inf-details-item  youtube-integration">
                                <div class="brand-img">
                                    <button><img src="../../../images/image/youtuber.svg" alt="details"></button>
                                </div>
                                 <div class="item-details youtube">
                                     <p class="social-youtube"><button><img src="../../../images/image/you.svg" alt="youtube"></button><span class="smotra">smotraTV</span></p>
                                         <span>112 M Subscribes</span>
                                 </div>
                        </div>
                    </div>
                    <div class="video-integration  ">
                        <label > 1/3 video integrations</label>
                        <div class="integrations">
                        <div class="youtube-upload ">
                            <div class="inf-details-item ">
                                <img src="../../../images/image/gradient.svg" alt="details">
                                     <div class="item-details youtube">
                                         <p class="social-youtube"><label class="bolds">Some Title of video</label></p>
                                             <span>Video discription as it appears on the you tube cvide</span>
                                     </div>
                            </div>
                            <div class="icons">
                              <button>  <img src="../../../images/image/spread.svg" alt="spread"></button>
                               <button> <img src="../../../images/image/cancel.svg" alt="cancel"></button>
                            </div>
                        </div>
                    </div>
                    <div class="video-text">Video URL</div>
                    <div class="url">
                        <input type="text"  id="" placeholder="https://" >
                        <button>Upload</button>
                    </div>


                       
                   </div>

                   <div class="image-uploads">
                    <label>
                        IMAGES UPLOADES
                    </label>
                    <div class="img-uploads">
                        <div class="pos-img">
                            <img class="post-img" src="../../../images/image/immg4.svg" alt="img">
                            <button class="belong">
                                <img src="../../../images/image/cancelimg.svg" alt="">
                            </button>
                        </div>
                        <div class="pos-img">
                            <img class="post-img" src="../../../images/image/img2.svg" alt="img">
                            <button class="belong">
                                <img src="../../../images/image/cancelimg.svg" alt="">
                            </button>

                        </div>
                        <div class="pos-img">
                            <img class="post-img" src="../../../images/image/img3.svg" alt="img">
                            <button class="belong">
                                <img src="../../../images/image/cancelimg.svg" alt="">
                            </button>

                        </div>
                        <div class="pos-img">
                            <img class="post-img" src="../../../images/image/img4.svg" alt="img">
                            <button class="belong">
                                <img src="../../../images/image/cancelimg.svg" alt="">
                            </button>

                        </div>
                    </div>

                    <div class="click-uploads">
                        <button>   <img src="../../../images/image/pic.svg" alt="picture"></button>
                        <button>  <img src="../../../images/image/vid.svg" alt="video"></button>
                        <span>Click or drag your photo here to upload</span>
                    </div>
                    <div class="add">Add up to 4 Images</div>
                    <button class="btn-add">Submit Private Content (Order #2453)</button>
                   </div>
               </div>
            </div>
            
            <div class="right-order-two">
                <div class="aside-order">
                    <label  class="orders" >ORDER STATUS</label>
                <div class="images-service serve-order order-ctn">
                    <div class="status-in-progress">
                        <div></div>
                        <span>In progress</span>
                    </div>
                </div>

                <div class="left-days">
                    <span>Left days:</span>
                    <label>
                        <p></p>
                    </label>
                    <span>19/25</span>
                </div>
                </div>

                <div class="service-statistics order-statistics">
                    <label>PAYMENT DETAILS</label>
                            
                    <div class="statistic-item ">
                        <span>  Order Summary</span>
                        <div>AED 123232</div>
                    </div>
                    <div class="statistic-item ">
                        <span>VAT 5%</span>
                        <div>AED 20</div>
                    </div>
                    <div class="statistic-item st-item">
                        <span>Total</span>
                        <div>AED 123252</div>
                    </div>
                  

                </div>

                <div class="information-details info-order">
                    <div class="info-order-item user-names">
                      <h3>REQUEST DETAILS</h3>
                    <div class="inf-details-item  youtube-integration">
                        <div class="brand-img">
                            <img src="../../../images/header/logo-header.svg" alt="details">
                        </div>
                             <div class="item-details youtube ">
                                 <p class="social-youtube"><span>Brand name</span></p>
                                     <span class="john">John Doe</span>
                             </div>
                    </div>
                  </div>

                    <div class="inf-details-item">
                        <img src="../../../images/image/details-influncer.svg" alt="details">
                        <div class="item-details">
                            <p>Max Influencers</p>
                            <span>10</span>
                        </div>
                    </div>
                    
                    <div class="inf-details-item">
                        <img src="../../../images/image/details-expected.svg" alt="details">
                        <div class="item-details">
                            <p>Expected audience reach</p>
                            <span>200,000 - 300,000</span>
                        </div>
                    </div>
                    
                    <div class="inf-details-item">
                        <img src="../../../images/image/details-date.svg" alt="details">
                        <div class="item-details">
                            <p>Date</p>
                            <span>02.01202 - 12.02.2023</span>
                        </div>
                    </div>

                    <div class="inf-details-item">
                        <img src="../../../images/image/details-location.svg" alt="details">
                        <div class="item-details">
                            <p>Location</p>
                            <span>UEA, Spain</span>
                        </div>
                    </div>

                    <div class="inf-details-item">
                        <img src="../../../images/image/details7-language.svg" alt="details">
                        <div class="item-details">
                            <p>Language</p>
                            <span>English</span>
                        </div>
                    </div>

                    <div class="inf-details-item">
                        <img src="../../../images/image/details-folder.svg" alt="details">
                        <div class="item-details">
                            <p>Category</p>
                            <span>Web development</span>
                        </div>
                    </div>
                    
                    <div class="inf-details-item">
                        <img src="../../../images/image/details7(2).svg" alt="details">
                        <div class="item-details">
                            <p>Social Networks</p>
                            <span>Facebook, Instagram, Youtube</span>
                        </div>
                    </div>

               
                    
                  

                </div>
            </div>
    

         

        </div>
    </main>
    
   </div>
    <footer>
        <div class="contain footer">
            <div class="contain">
                <div class="top-footer">
                    <img class="influence" src="../../../images/22 1.svg" alt="fluencer">
                    <nav>
                        <a href="">Brand</a>
                        <a href="">Influencer</a>
                        <a href="">FAQ</a>
                        <a href="">Blog</a>
                        <a href="">Career</a>
                        <a href="">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <a href="#">
                            <img src="../../../images/in.svg" alt="in">
                        </a>
                        <a href="#">
                            <img src="../../../images/ins.svg" alt="twit">
                        </a>
                        <a href="#">
                            <img src="../../../images/meta.svg" alt="meta">
                        </a>
                        <a href="#">
                            <img src="../../../images/twit.svg" alt="instagram">
                        </a>
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                    <a href="../../faq-blog/term-condition.html"><span>Terms and Conditions</span></a>
                </div>
            </div>
        </div>
    </footer>


    <script src="../js/app.js"></script>
    <script src="../../../js/notifcation.js"></script>
</body>

</html>